@{
    ViewData["Title"] = "Авторизация";
}


<div class="auth-form">
    <div class="auth-form__form-container">
        <div class="auth-form__title">АВТОРИЗАЦИЯ</div>
        <div class="auth-form__description">
            Введите вашу почту и пароль
        </div>
        <input class="auth-form__input" type="email" placeholder="Email" />
        <input class="auth-form__input" type="password" placeholder="Пароль" />

        <div class="auth-form__button">
            <div>Войти</div>
        </div>

        <a href="#" class="auth-form__forgot-password">
            Забыли пароль?
        </a>
    </div>
    <div class="auth-form__description-container">
        <div class="auth-form__welcome">
            Добро Пожаловать!
        </div>
        <div class="auth-form__welcome-description">
            <p>
                у вас нет аккаунт на нашем сайте? Нажмите накнопку, чтобы перейти к регистрации!
            </p>
        </div>
        <div class="auth-form__button-invers">
            <div>регистрации</div>
        </div>


    </div>
</div>