@{
    ViewData["Title"] = "Главная";
}

<section>
    <div class="welcome">
        <div class="welcome__colum colum-description">
            <div class="welcome__head">Добро пожаловать, @await Component.InvokeAsync("User")!</div>
            <div class="welcome__description">
                Приветствуем тебя на нашей инновационной платформе для создания курсов! Здесь ты можешь превратить свои
                знания и опыт в увлекательные обучающие программы. Независимо от того, являешься ли ты экспертом в своей
                области или просто страстным обучающимся, наша платформа предоставляет тебе все необходимое для создания
                курсов высокого качества.
            </div>

            <div class="welcome__container-button">
                Узнать больше
            </div>
        </div>
        <div class="welcome__colum">

            <svg width="541" height="439" viewBox="0 0 541 439" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20.1865 229.109C45.4851 257.763 77.5064 268.896 93.2976 303.711C104.123 327.575 99.0441 355.828 107.042 380.783C118.004 414.987 154.019 437.965 189.921 438.088C225.823 438.212 260.045 417.861 281.349 388.949C288.336 379.467 294.391 368.806 304.185 362.269C318.213 352.906 336.409 354.11 353.203 352.612C394.615 348.92 433.858 325.654 456.982 291.086C456.982 291.086 516.968 220.271 474.503 118.963C462.16 89.5161 442.152 62.4727 414.561 46.4255C386.97 30.3771 338.958 29.9954 310.549 44.546C280.345 60.0158 260.265 93.9223 227.159 101.37C207.97 105.687 188.158 100.077 168.834 96.4079C141.728 91.2596 114.097 88.0619 86.727 91.539C54.5126 95.6322 22.019 111.793 6.99187 148.128C1.72896 160.852 -0.039885 174.812 2.05805 188.423C3.93784 200.629 8.69215 216.09 20.1865 229.109Z"
                    fill="#F5F5FF" />
                <path
                    d="M269.131 19.871C262.168 11.1247 251.319 6.35053 240.471 3.66041C225.502 -0.0511341 209.406 -0.336726 194.886 4.86019C180.366 10.0571 167.63 21.1356 162.276 35.6052C156.922 50.0747 159.873 67.7644 170.982 78.4663C177.207 84.4626 185.949 87.6878 194.544 87.6641C199.641 88.2078 204.848 87.6341 209.639 85.7883C220.298 81.6802 228.131 72.3552 238.353 67.2531C249.462 61.7094 263.74 60.824 271.258 50.9415C278.027 42.043 276.094 28.6173 269.131 19.871Z"
                    fill="#F5F5FF" />
                <path
                    d="M68.8578 329.83C67.6973 327.452 66.6178 325.045 65.9122 322.498C63.6548 314.341 65.2952 305.039 60.9174 297.797C55.4201 288.701 41.8789 287.041 32.6669 292.335C23.455 297.631 18.1871 307.99 15.9408 318.379C14.5571 324.776 14.1545 331.591 16.3447 337.758C18.8926 344.931 24.6878 350.504 31.0065 354.742C38.0321 359.454 46.2368 362.912 54.6909 362.625C58.4554 362.498 62.2499 361.499 65.5981 359.749C68.2383 358.602 70.5818 356.828 72.1948 354.529C73.3666 353.139 74.3551 351.598 75.0781 349.897C78.081 342.827 75.3723 333.523 68.8578 329.83Z"
                    fill="#F5F5FF" />
                <path
                    d="M401.963 329.225H138.02C135.543 329.225 133.516 327.197 133.516 324.719V155.28C133.516 152.802 135.543 150.774 138.02 150.774H401.963C404.44 150.774 406.467 152.802 406.467 155.28V324.719C406.467 327.197 404.44 329.225 401.963 329.225Z"
                    fill="#50D8D7" />
                <path d="M399.711 163.751H140.272V311.919H399.711V163.751Z" fill="#D5CBFB" />
                <path
                    d="M271.623 156.73C271.623 157.632 270.893 158.362 269.991 158.362C269.09 158.362 268.361 157.631 268.361 156.73C268.361 155.829 269.091 155.098 269.991 155.098C270.893 155.099 271.623 155.829 271.623 156.73Z"
                    fill="#D5CBFB" />
                <path
                    d="M443.204 387.451L409.677 334.065C407.784 331.052 404.477 329.224 400.921 329.224H264.148H256.581H139.063C135.507 329.224 132.2 331.052 130.307 334.065L96.7804 387.451C95.8318 388.963 95.494 390.759 95.7907 392.493H444.192C444.489 390.76 444.152 388.963 443.204 387.451Z"
                    fill="#D5CBFB" />
                <path
                    d="M95.7907 392.495C95.8517 392.853 95.9303 393.208 96.0462 393.557L96.5747 395.144C97.5545 398.083 100.303 400.065 103.4 400.065H256.58H264.146H436.582C439.678 400.065 442.428 398.082 443.407 395.144L443.935 393.557C444.051 393.208 444.13 392.851 444.191 392.495H95.7907Z"
                    fill="#50D8D7" />
                <path d="M151.678 355.57L153.311 351.977H145.232L143.503 355.57H151.678Z" fill="#50D8D7" />
                <path d="M165.91 345.341L166.712 343.466L167.446 341.747H159.629L157.996 345.341H165.91Z"
                    fill="#50D8D7" />
                <path d="M154.98 351.977L153.349 355.57H161.541L163.075 351.977H154.98Z" fill="#50D8D7" />
                <path d="M154.002 350.455L155.635 346.861H147.694L145.964 350.455H154.002Z" fill="#50D8D7" />
                <path d="M318.489 341.747L319.393 345.341H326.34L325.34 341.747H318.489Z" fill="#50D8D7" />
                <path d="M193.841 351.977L192.744 355.57H201.004L202.054 351.977H193.841Z" fill="#50D8D7" />
                <path d="M184.182 351.977L182.889 355.57H191.155L192.252 351.977H184.182Z" fill="#50D8D7" />
                <path d="M174.477 351.977L173.039 355.57H181.274L182.566 351.977H174.477Z" fill="#50D8D7" />
                <path d="M164.728 351.977L163.194 355.57H171.401L172.84 351.977H164.728Z" fill="#50D8D7" />
                <path d="M326.919 341.747L327.918 345.341H334.409L333.358 341.747H326.919Z" fill="#50D8D7" />
                <path d="M221.776 346.861L220.873 350.455H227.404L228.211 346.861H221.776Z" fill="#50D8D7" />
                <path d="M292.644 341.747L293.254 345.341H300.792L300.083 341.747H292.644Z" fill="#50D8D7" />
                <path d="M220.591 345.341L221.495 341.747H214.644L213.643 345.341H220.591Z" fill="#50D8D7" />
                <path d="M212.065 345.341L213.065 341.747H206.626L205.575 345.341H212.065Z" fill="#50D8D7" />
                <path d="M228.553 345.341L229.359 341.747H223.062L222.159 345.341H228.553Z" fill="#50D8D7" />
                <path d="M334.943 341.747L335.992 345.341H344.115L343.015 341.747H334.943Z" fill="#50D8D7" />
                <path d="M187.86 341.747L186.568 345.341H194.28L194.847 343.486L195.378 341.747H187.86Z"
                    fill="#50D8D7" />
                <path d="M184.952 345.341L186.245 341.747H178.571L177.134 345.341H184.952Z" fill="#50D8D7" />
                <path d="M169.1 341.747L167.564 345.341H175.496L176.244 343.47L176.933 341.747H169.1Z" fill="#50D8D7" />
                <path d="M310.625 341.747L311.43 345.341H317.825L316.921 341.747H310.625Z" fill="#50D8D7" />
                <path d="M301.632 341.747L302.342 345.341H309.872L309.067 341.747H301.632Z" fill="#50D8D7" />
                <path d="M203.991 345.341L205.041 341.747H196.968L195.869 345.341H203.991Z" fill="#50D8D7" />
                <path d="M213.489 340.226L214.422 336.88H208.047L207.068 340.226H213.489Z" fill="#50D8D7" />
                <path d="M205.485 340.226L206.463 336.88H198.456L197.433 340.226H205.485Z" fill="#50D8D7" />
                <path d="M283.767 341.747L284.186 345.341H291.712L291.102 341.747H283.767Z" fill="#50D8D7" />
                <path d="M238.651 340.226L239.311 336.88H232.01L231.26 340.226H238.651Z" fill="#50D8D7" />
                <path d="M229.701 340.226L230.452 336.88H224.286L223.445 340.226H229.701Z" fill="#50D8D7" />
                <path d="M221.877 340.226L222.717 336.88H216L215.067 340.226H221.877Z" fill="#50D8D7" />
                <path d="M372.538 341.747L374.073 345.341H381.988L380.355 341.747H372.538Z" fill="#50D8D7" />
                <path d="M168.096 340.226L169.526 336.88H161.839L160.319 340.226H168.096Z" fill="#50D8D7" />
                <path d="M177.543 340.226L178.882 336.88H171.179L169.749 340.226H177.543Z" fill="#50D8D7" />
                <path d="M195.843 340.226L196.865 336.88H189.611L188.408 340.226H195.843Z" fill="#50D8D7" />
                <path d="M382.026 341.747L383.659 345.341H391.557L389.827 341.747H382.026Z" fill="#50D8D7" />
                <path d="M186.792 340.226L187.995 336.88H180.519L179.181 340.226H186.792Z" fill="#50D8D7" />
                <path d="M344.605 341.747L345.704 345.341H353.416L352.124 341.747H344.605Z" fill="#50D8D7" />
                <path d="M237.88 351.977L237.171 355.57H244.986L245.598 351.977H237.88Z" fill="#50D8D7" />
                <path d="M203.638 351.977L202.588 355.57H209.215L210.216 351.977H203.638Z" fill="#50D8D7" />
                <path d="M228.622 351.977L227.816 355.57H235.622L236.331 351.977H228.622Z" fill="#50D8D7" />
                <path d="M211.795 351.977L210.794 355.57H218.018L218.922 351.977H211.795Z" fill="#50D8D7" />
                <path d="M220.49 351.977L219.586 355.57H226.256L227.063 351.977H220.49Z" fill="#50D8D7" />
                <path d="M248.882 341.747L248.27 345.341H255.798L256.216 341.747H248.882Z" fill="#50D8D7" />
                <path d="M247.6 340.226L248.169 336.88H240.861L240.2 340.226H247.6Z" fill="#50D8D7" />
                <path d="M238.89 346.861L238.181 350.455H245.857L246.469 346.861H238.89Z" fill="#50D8D7" />
                <path d="M363.05 341.747L364.488 345.341H372.42L370.884 341.747H363.05Z" fill="#50D8D7" />
                <path d="M255.204 350.455L255.621 346.861H248.011L247.399 350.455H255.204Z" fill="#50D8D7" />
                <path d="M353.738 341.747L355.032 345.341H362.85L361.412 341.747H353.738Z" fill="#50D8D7" />
                <path d="M156.325 345.341L157.958 341.747H150.156L148.426 345.341H156.325Z" fill="#50D8D7" />
                <path d="M329.19 355.57L328.189 351.977H321.062L321.965 355.57H329.19Z" fill="#50D8D7" />
                <path d="M213.219 346.861L212.219 350.455H219.304L220.208 346.861H213.219Z" fill="#50D8D7" />
                <path d="M342.55 340.226L341.528 336.88H333.522L334.498 340.226H342.55Z" fill="#50D8D7" />
                <path d="M360.802 340.226L359.465 336.88H351.988L353.192 340.226H360.802Z" fill="#50D8D7" />
                <path d="M351.576 340.226L350.372 336.88H343.119L344.141 340.226H351.576Z" fill="#50D8D7" />
                <path d="M308.724 340.226L307.974 336.88H300.673L301.332 340.226H308.724Z" fill="#50D8D7" />
                <path d="M299.784 340.226L299.123 336.88H291.815L292.384 340.226H299.784Z" fill="#50D8D7" />
                <path d="M370.235 340.226L368.805 336.88H361.103L362.441 340.226H370.235Z" fill="#50D8D7" />
                <path d="M324.917 340.226L323.984 336.88H317.265L318.107 340.226H324.917Z" fill="#50D8D7" />
                <path d="M316.539 340.226L315.697 336.88H309.532L310.282 340.226H316.539Z" fill="#50D8D7" />
                <path d="M320.398 355.57L319.494 351.977H312.921L313.726 355.57H320.398Z" fill="#50D8D7" />
                <path d="M376.79 355.57L375.255 351.977H367.145L368.583 355.57H376.79Z" fill="#50D8D7" />
                <path d="M357.096 355.57L355.802 351.977H347.731L348.829 355.57H357.096Z" fill="#50D8D7" />
                <path d="M396.481 355.57L394.749 351.977H386.673L388.306 355.57H396.481Z" fill="#50D8D7" />
                <path d="M386.637 355.57L385.004 351.977H376.909L378.443 355.57H386.637Z" fill="#50D8D7" />
                <path d="M366.944 355.57L365.505 351.977H357.419L358.71 355.57H366.944Z" fill="#50D8D7" />
                <path d="M312.168 355.57L311.363 351.977H303.653L304.362 355.57H312.168Z" fill="#50D8D7" />
                <path d="M379.665 340.226L378.145 336.88H370.458L371.888 340.226H379.665Z" fill="#50D8D7" />
                <path d="M393.245 345.341H400.533L398.503 341.747H391.514L393.245 345.341Z" fill="#50D8D7" />
                <path d="M337.397 355.57L336.346 351.977H329.767L330.768 355.57H337.397Z" fill="#50D8D7" />
                <path d="M389.095 340.226L387.483 336.88H379.814L381.334 340.226H389.095Z" fill="#50D8D7" />
                <path d="M347.24 355.57L346.142 351.977H337.931L338.98 355.57H347.24Z" fill="#50D8D7" />
                <path d="M397.645 340.226L395.754 336.88H389.171L390.783 340.226H397.645Z" fill="#50D8D7" />
                <path d="M332.914 340.226L331.938 336.88H325.562L326.495 340.226H332.914Z" fill="#50D8D7" />
                <path d="M283.844 355.57L283.427 351.977H275.546L275.692 355.57H283.844Z" fill="#50D8D7" />
                <path d="M166.915 346.861L166.113 348.737L165.379 350.455H173.449L174.886 346.861H166.915Z"
                    fill="#50D8D7" />
                <path d="M292.585 350.455L291.973 346.861H284.362L284.78 350.455H292.585Z" fill="#50D8D7" />
                <path d="M163.725 350.455L165.262 346.861H157.304L156.45 348.741L155.672 350.455H163.725Z"
                    fill="#50D8D7" />
                <path d="M230.918 341.747L230.112 345.341H237.641L238.35 341.747H230.918Z" fill="#50D8D7" />
                <path d="M239.901 341.747L239.191 345.341H246.728L247.34 341.747H239.901Z" fill="#50D8D7" />
                <path d="M195.404 346.861L194.306 350.455H202.497L203.547 346.861H195.404Z" fill="#50D8D7" />
                <path d="M176.524 346.861L175.086 350.455H183.112L184.405 346.861H176.524Z" fill="#50D8D7" />
                <path d="M205.131 346.861L204.082 350.455H210.64L211.641 346.861H205.131Z" fill="#50D8D7" />
                <path d="M275.342 346.861L275.486 350.455H283.25L282.831 346.861H275.342Z" fill="#50D8D7" />
                <path d="M186.022 346.861L184.729 350.455H192.717L193.815 346.861H186.022Z" fill="#50D8D7" />
                <path d="M282.06 340.226L281.67 336.88H274.939L275.074 340.226H282.06Z" fill="#50D8D7" />
                <path d="M302.813 355.57L302.104 351.977H294.386L294.997 355.57H302.813Z" fill="#50D8D7" />
                <path d="M266.567 336.88L266.431 340.226H273.552L273.417 336.88H266.567Z" fill="#50D8D7" />
                <path d="M266.37 341.747L266.226 345.341H273.757L273.613 341.747H266.37Z" fill="#50D8D7" />
                <path d="M282.655 345.341L282.236 341.747H275.135L275.279 345.341H282.655Z" fill="#50D8D7" />
                <path d="M290.842 340.226L290.273 336.88H283.201L283.591 340.226H290.842Z" fill="#50D8D7" />
                <path d="M266.165 346.861L266.019 350.455H273.964L273.82 346.861H266.165Z" fill="#50D8D7" />
                <path d="M265.959 351.977L265.813 355.57H274.17L274.025 351.977H265.959Z" fill="#50D8D7" />
                <path d="M264.911 340.226L265.045 336.88H258.313L257.924 340.226H264.911Z" fill="#50D8D7" />
                <path d="M249.142 340.226H256.393L256.782 336.88H249.713L249.142 340.226Z" fill="#50D8D7" />
                <path d="M301.803 350.455L301.093 346.861H293.514L294.127 350.455H301.803Z" fill="#50D8D7" />
                <path d="M229.77 346.861L228.964 350.455H236.631L237.341 346.861H229.77Z" fill="#50D8D7" />
                <path d="M132.812 357.09L131.035 360.234H139.571L141.084 357.09H132.812Z" fill="#50D8D7" />
                <path d="M335.902 350.455L334.853 346.861H328.342L329.344 350.455H335.902Z" fill="#50D8D7" />
                <path d="M331.192 357.09L332.068 360.234H338.759L337.841 357.09H331.192Z" fill="#50D8D7" />
                <path d="M319.111 350.455L318.208 346.861H311.773L312.578 350.455H319.111Z" fill="#50D8D7" />
                <path d="M264.292 355.57L264.437 351.977H256.557L256.14 355.57H264.292Z" fill="#50D8D7" />
                <path d="M359.258 357.09L360.388 360.234H368.81L367.553 357.09H359.258Z" fill="#50D8D7" />
                <path d="M384.313 350.455L382.68 346.861H374.722L376.258 350.455H384.313Z" fill="#50D8D7" />
                <path d="M369.191 357.09L370.448 360.234H378.784L377.44 357.09H369.191Z" fill="#50D8D7" />
                <path d="M247.14 351.977L246.528 355.57H254.609L255.027 351.977H247.14Z" fill="#50D8D7" />
                <path d="M135.7 351.977L133.671 355.57H141.816L143.546 351.977H135.7Z" fill="#50D8D7" />
                <path d="M285.551 357.09L285.917 360.234H294.25L293.716 357.09H285.551Z" fill="#50D8D7" />
                <path d="M162.544 357.09L161.201 360.234H169.535L170.793 357.09H162.544Z" fill="#50D8D7" />
                <path d="M264.231 357.09H255.963L255.598 360.234H264.104L264.231 357.09Z" fill="#50D8D7" />
                <path d="M374.604 350.455L373.071 346.861H365.098L366.535 350.455H374.604Z" fill="#50D8D7" />
                <path d="M142.772 357.09L141.257 360.234H149.559L150.988 357.09H142.772Z" fill="#50D8D7" />
                <path d="M302.642 346.861L303.353 350.455H311.02L310.215 346.861H302.642Z" fill="#50D8D7" />
                <path d="M339.424 357.09L340.343 360.234H348.666L347.703 357.09H339.424Z" fill="#50D8D7" />
                <path d="M304.663 357.09L305.282 360.234H313.215L312.511 357.09H304.663Z" fill="#50D8D7" />
                <path d="M345.677 350.455L344.578 346.861H336.437L337.486 350.455H345.677Z" fill="#50D8D7" />
                <path d="M355.256 350.455L353.962 346.861H346.169L347.267 350.455H355.256Z" fill="#50D8D7" />
                <path d="M295.258 357.09L295.792 360.234H303.733L303.113 357.09H295.258Z" fill="#50D8D7" />
                <path d="M349.294 357.09L350.256 360.234H358.773L357.642 357.09H349.294Z" fill="#50D8D7" />
                <path d="M141.48 341.747L139.45 345.341H146.739L148.47 341.747H141.48Z" fill="#50D8D7" />
                <path d="M388.996 357.09L390.425 360.234H398.726L397.211 357.09H388.996Z" fill="#50D8D7" />
                <path d="M144.229 336.88L142.339 340.226H149.201L150.812 336.88H144.229Z" fill="#50D8D7" />
                <path d="M364.897 350.455L363.46 346.861H355.578L356.872 350.455H364.897Z" fill="#50D8D7" />
                <path d="M244.192 360.234L244.726 357.09H172.431L171.172 360.234H244.192Z" fill="#50D8D7" />
                <path d="M314.069 357.09L314.773 360.234H321.571L320.779 357.09H314.069Z" fill="#50D8D7" />
                <path d="M257.329 345.341H264.705L264.849 341.747H257.747L257.329 345.341Z" fill="#50D8D7" />
                <path d="M404.283 351.977H396.437L400.413 360.234H408.949L404.283 351.977Z" fill="#50D8D7" />
                <path d="M395.707 350.455H403.424L401.392 346.861H393.976L395.707 350.455Z" fill="#50D8D7" />
                <path d="M394.019 350.455L392.289 346.861H384.349L385.982 350.455H394.019Z" fill="#50D8D7" />
                <path d="M254.067 360.234L254.432 357.09H246.268L245.734 360.234H254.067Z" fill="#50D8D7" />
                <path d="M265.753 357.09L265.626 360.234H284.388L284.02 357.09H265.753Z" fill="#50D8D7" />
                <path d="M379.094 357.09L380.436 360.234H388.756L387.327 357.09H379.094Z" fill="#50D8D7" />
                <path d="M327.766 350.455L326.764 346.861H319.776L320.68 350.455H327.766Z" fill="#50D8D7" />
                <path d="M322.347 357.09L323.139 360.234H330.49L329.614 357.09H322.347Z" fill="#50D8D7" />
                <path d="M138.589 346.861L136.56 350.455H144.277L146.008 346.861H138.589Z" fill="#50D8D7" />
                <path d="M158.649 340.226L160.17 336.88H152.5L150.889 340.226H158.649Z" fill="#50D8D7" />
                <path d="M152.657 357.09L151.228 360.234H159.546L160.89 357.09H152.657Z" fill="#50D8D7" />
                <path d="M264.498 350.455L264.644 346.861H257.152L256.734 350.455H264.498Z" fill="#50D8D7" />
                <path d="M292.844 351.977H284.957L285.375 355.57H293.456L292.844 351.977Z" fill="#50D8D7" />
                <path
                    d="M317.619 387.018H222.365C221.96 387.018 221.589 386.831 221.349 386.506C221.108 386.18 221.04 385.771 221.158 385.383L227.214 365.693C227.378 365.159 227.863 364.803 228.42 364.803H311.565C312.122 364.803 312.607 365.161 312.772 365.693L318.827 385.383C318.947 385.771 318.877 386.18 318.637 386.506C318.395 386.831 318.024 387.018 317.619 387.018ZM228.419 365.929C228.358 365.929 228.307 365.968 228.288 366.026L222.234 385.716C222.216 385.77 222.235 385.812 222.254 385.837C222.272 385.862 222.306 385.892 222.363 385.892H317.619C317.677 385.892 317.71 385.862 317.729 385.837C317.748 385.812 317.766 385.77 317.75 385.716L311.695 366.025C311.677 365.969 311.623 365.929 311.564 365.929H228.419Z"
                    fill="#7B70EE" />
                <path d="M316.249 186.457L212.778 202.784L312.265 252.586L415.31 237.253L316.249 186.457Z"
                    fill="#1C1C84" />
                <path
                    d="M212.778 202.784V205.153L312.34 257.209L415.31 239.521V237.253L312.265 252.586L212.778 202.784Z"
                    fill="#2525AD" />
                <path
                    d="M251.263 258.814L249.678 269.339C249.678 269.339 292.166 303.47 352.076 286.688L352.994 278.464C300.038 287.329 266.703 270.155 251.263 258.814Z"
                    fill="#2525AD" />
                <path
                    d="M377.411 314.233C371.866 309.833 367.939 303.343 366.067 296.515C365.929 296.008 365.254 296.192 365.175 296.626C365.049 296.457 364.796 296.433 364.593 296.54C364.496 296.188 363.923 296.027 363.704 296.452C359.902 303.827 362.839 312.156 365.383 319.451C365.583 320.025 366.217 319.715 366.016 319.141C364.026 313.431 361.894 307.038 363.106 301.023C362.43 308.628 364.963 316.417 369.603 322.452C369.938 322.887 370.458 322.364 370.121 321.925C365.909 316.447 363.733 309.494 363.957 302.588C364.087 305.308 364.508 308.021 365.378 310.586C366.711 314.516 368.938 318.268 371.168 321.747C371.496 322.26 372.014 321.732 371.686 321.221C369.543 317.876 367.694 314.283 366.357 310.528C365.783 308.919 365.407 307.233 365.166 305.523C366.448 311.054 369.118 316.255 372.956 320.476C373.36 320.92 373.895 320.526 373.486 320.076C369.28 315.45 366.752 309.527 365.708 303.416C367.252 309.14 370.099 314.552 373.86 319.202C374.24 319.672 374.636 319.162 374.252 318.687C370.581 314.148 368.154 308.841 366.638 303.258C368.68 309.017 371.33 314.573 376.011 318.669C376.47 319.071 376.971 318.605 376.514 318.205C373.299 315.392 371.18 311.591 369.452 307.78C371.327 311.113 373.58 314.227 376.196 317.042C376.61 317.487 376.959 316.778 376.55 316.338C374.249 313.863 372.483 311.12 370.773 308.22C372.535 310.581 374.581 312.731 376.9 314.571C377.374 314.949 377.888 314.612 377.411 314.233Z"
                    fill="#F0C64B" />
                <path
                    d="M367.666 234.536C365.504 231.952 362.586 230.253 359.597 228.803C353.652 225.919 347.049 224.666 340.606 223.446C331.498 221.722 322.182 220.126 314.609 214.384C314.315 214.161 314.031 214.273 313.861 214.5C313.846 214.514 313.836 214.531 313.824 214.546C313.819 214.555 313.812 214.56 313.807 214.569C313.625 214.793 313.576 215.116 313.846 215.374C319.396 220.682 326.815 223.31 334.119 225.16C341.499 227.029 349.032 228.309 356.096 231.243C356.316 231.334 356.535 231.425 356.755 231.516C356.797 231.534 357.03 231.641 357.033 231.64C357.394 231.816 357.752 231.997 358.112 232.175C359.435 232.831 360.722 233.511 361.933 234.362C363.384 235.384 364.727 236.635 365.66 238.155C366.68 239.817 367.034 241.682 366.996 243.615C366.958 245.627 366.585 247.627 366.258 249.608C365.92 251.659 365.616 253.716 365.301 255.77C364.649 260.018 364.042 264.268 363.583 268.541C362.575 277.947 362.299 287.541 363.99 296.889C364.115 297.582 365.278 297.43 365.226 296.722C364.569 287.851 365.292 278.956 366.536 270.167C367.156 265.793 367.906 261.437 368.67 257.086C369.387 253.001 370.334 248.884 370.67 244.746C370.974 240.994 370.105 237.453 367.666 234.536Z"
                    fill="#F0C64B" />
                <path
                    d="M363.521 297.557C363.628 297.505 363.736 297.457 363.846 297.411C363.912 297.385 363.91 297.386 363.836 297.414C363.869 297.403 363.9 297.39 363.932 297.38C363.981 297.364 364.029 297.348 364.078 297.333C364.314 297.26 364.554 297.208 364.799 297.173C364.857 297.164 364.917 297.154 364.976 297.151C364.811 297.159 365.003 297.151 365.035 297.148C365.154 297.142 365.273 297.139 365.392 297.142C365.51 297.144 365.629 297.151 365.747 297.162C365.806 297.168 365.866 297.174 365.924 297.182C365.958 297.187 365.991 297.191 366.025 297.197C365.943 297.182 365.938 297.181 366.009 297.194C366.182 297.227 366.334 297.235 366.496 297.149C366.63 297.078 366.759 296.934 366.799 296.784C366.879 296.488 366.736 296.058 366.389 295.993C365.206 295.773 364.012 295.912 362.926 296.445C362.63 296.591 362.499 297.011 362.668 297.298C362.846 297.601 363.204 297.713 363.521 297.557Z"
                    fill="#D8A32B" />
                <path
                    d="M363.395 296.327C363.502 296.275 363.611 296.228 363.72 296.182C363.786 296.155 363.784 296.157 363.71 296.184C363.743 296.173 363.774 296.162 363.806 296.15C363.855 296.134 363.904 296.118 363.952 296.103C364.188 296.031 364.428 295.977 364.673 295.943C364.731 295.935 364.791 295.925 364.85 295.921C364.685 295.93 364.877 295.921 364.909 295.918C365.028 295.912 365.148 295.91 365.266 295.912C365.384 295.915 365.504 295.921 365.621 295.933C365.681 295.94 365.74 295.946 365.798 295.953C365.832 295.958 365.866 295.963 365.899 295.968C365.817 295.953 365.811 295.952 365.883 295.966C366.056 295.998 366.208 296.007 366.37 295.921C366.504 295.85 366.635 295.704 366.673 295.556C366.753 295.26 366.61 294.828 366.263 294.765C365.079 294.544 363.886 294.684 362.8 295.216C362.505 295.362 362.373 295.784 362.542 296.069C362.721 296.371 363.077 296.483 363.395 296.327Z"
                    fill="#D8A32B" />
                <path
                    d="M356.105 253.698L356.619 249.603L312.34 257.209L256.599 228.064L255.404 234.951L311.227 263.068L356.105 253.698Z"
                    fill="#0C0C5B" />
                <path
                    d="M311.227 263.068L255.403 234.951L251.263 258.814C266.703 270.155 300.038 287.329 352.994 278.466L356.104 253.698L311.227 263.068Z"
                    fill="#1C1C84" />
                <path
                    d="M243.556 295.445C246.027 302.103 240.718 310.216 231.699 313.566C222.68 316.916 217.532 312.691 213.924 306.574C208.648 297.627 213.734 292.802 222.752 289.452C231.772 286.103 241.085 288.786 243.556 295.445Z"
                    fill="#FFF6DC" />
                <path
                    d="M153.494 222.11C153.494 222.11 175.876 245.17 194.216 286.56C194.216 286.56 202.915 309.029 208.622 314.646C208.622 314.646 204.003 309.439 211.056 301.125C216.237 295.019 223.792 291.278 231.791 290.995C236.26 290.836 240.929 291.772 243.587 295.531C243.587 295.531 213.737 260.351 194.235 229.996C186.443 217.869 182.755 207.849 181.135 200.189C181.135 200.189 179.666 198.459 176.737 197.012C165.97 191.692 153.286 198.853 151.408 210.72C151.232 211.827 151.122 213.007 151.094 214.262C151.094 214.262 150.939 219.521 153.494 222.11Z"
                    fill="white" />
                <path
                    d="M208.622 314.647C208.622 314.647 218.418 326.473 240.604 312.282C240.604 312.282 254.336 303.117 247.481 287.152C247.481 287.152 233.241 276.531 222.012 263.068C210.783 249.605 196.894 231.276 185.37 207.032L182.432 205.254C182.432 205.254 184.55 216.75 198.265 236.122C211.981 255.496 237.282 287.929 237.282 287.929L241.151 292.594C243.373 295.271 244.136 298.949 242.909 302.205C241.161 306.842 236.034 312.335 221.718 313.168L212.778 299.281C212.778 299.281 204.097 306.474 208.622 314.647Z"
                    fill="#F4E7BD" />
                <path
                    d="M230.291 272.072C230.291 272.072 204.579 245.246 186.554 202.784C186.554 202.784 183.303 197.615 181.235 195.229C181.235 195.229 196.904 243.686 230.291 272.072Z"
                    fill="white" />
                <path
                    d="M183.001 264.287C188.411 254.525 200.1 248.069 211.228 248.627C215.188 248.826 215.177 243.898 211.228 243.7C198.031 243.038 184.947 249.628 178.547 261.179C178.547 261.179 181.078 267.758 183.001 264.287Z"
                    fill="#F0C64B" />
                <path
                    d="M143.167 282.231H92.703C86.0128 282.231 80.5392 276.755 80.5392 270.061V243.767C80.5392 237.074 86.0128 231.597 92.703 231.597H143.167C149.857 231.597 155.331 237.074 155.331 243.767V270.061C155.331 276.755 149.857 282.231 143.167 282.231Z"
                    fill="#F82586" />
                <path
                    d="M109.908 256.915V247.642L117.936 252.278L125.962 256.915L117.936 261.552L109.908 266.187V256.915Z"
                    fill="#D5CBFB" />
                <path
                    d="M103.324 170.559C103.324 155.099 90.797 142.568 75.3461 142.568C59.8952 142.568 47.3687 155.099 47.3687 170.559C47.3687 181.763 53.9504 191.425 63.4553 195.898V204.825H87.2381V195.898C96.7418 191.425 103.324 181.763 103.324 170.559Z"
                    fill="white" />
                <path
                    d="M88.0035 209.438H62.6887C61.4197 209.438 60.3826 208.4 60.3826 207.131C60.3826 205.861 61.4197 204.823 62.6887 204.823H88.0047C89.2725 204.823 90.3108 205.861 90.3108 207.131C90.3096 208.4 89.2725 209.438 88.0035 209.438Z"
                    fill="#F0C64B" />
                <path
                    d="M75.3461 222.531C70.2378 222.531 66.0967 218.388 66.0967 213.277V211.746H84.5967V213.277C84.5954 218.388 80.4544 222.531 75.3461 222.531Z"
                    fill="#F0C64B" />
                <path
                    d="M88.0035 214.052H62.6887C61.4197 214.052 60.3826 213.014 60.3826 211.745C60.3826 210.477 61.4197 209.438 62.6887 209.438H88.0047C89.2725 209.438 90.3108 210.476 90.3108 211.745C90.3096 213.015 89.2725 214.052 88.0035 214.052Z"
                    fill="#D8A32B" />
                <path
                    d="M77.8903 204.825H76.5789V165.938C76.5789 165.259 76.0255 164.705 75.3461 164.705C74.6655 164.705 74.112 165.259 74.112 165.938V204.825H72.8007V165.938C72.8007 164.534 73.9425 163.393 75.3461 163.393C76.7497 163.393 77.8903 164.534 77.8903 165.938V204.825Z"
                    fill="#F0C64B" />
                <path
                    d="M31.3718 161.016L30.6039 165.022L42.2977 167.264C42.4548 165.897 42.6941 164.556 43.0107 163.244L31.3718 161.016Z"
                    fill="#7B70EE" />
                <path
                    d="M40.6348 142.568L38.1692 145.822L47.4958 152.886C48.2425 151.744 49.0577 150.651 49.9353 149.613L40.6348 142.568Z"
                    fill="#7B70EE" />
                <path
                    d="M56.9832 130.107L53.3409 131.942L58.5838 142.341C59.7543 141.656 60.9672 141.038 62.2225 140.497L56.9832 130.107Z"
                    fill="#7B70EE" />
                <path
                    d="M120.088 165.022L119.32 161.016L107.68 163.244C107.997 164.555 108.237 165.897 108.393 167.264L120.088 165.022Z"
                    fill="#7B70EE" />
                <path
                    d="M112.522 145.822L110.056 142.568L100.756 149.613C101.633 150.652 102.447 151.744 103.195 152.886L112.522 145.822Z"
                    fill="#7B70EE" />
                <path
                    d="M97.3513 131.942L93.7089 130.107L88.4685 140.499C89.7237 141.039 90.9366 141.657 92.1071 142.342L97.3513 131.942Z"
                    fill="#7B70EE" />
                <path
                    d="M77.4303 137.876L77.3293 126.038L73.2494 126.075L73.3516 137.868C74.0123 137.83 74.6755 137.804 75.3448 137.804C76.0466 137.805 76.741 137.834 77.4303 137.876Z"
                    fill="#7B70EE" />
                <path d="M488.613 384.345H370.378V407.668H488.613V384.345Z" fill="#F0C64B" />
                <path d="M381.794 384.345H377.032V407.668H381.794V384.345Z" fill="#D8A32B" />
                <path d="M388.943 384.345H384.18V407.668H388.943V384.345Z" fill="#D8A32B" />
                <path d="M474.811 384.345H470.048V407.668H474.811V384.345Z" fill="#D8A32B" />
                <path d="M481.957 384.345H477.194V407.668H481.957V384.345Z" fill="#D8A32B" />
                <path
                    d="M499.989 371.348V367.76C499.989 362.66 495.841 358.512 490.746 358.512H385.368V380.597H490.746C495.841 380.597 499.989 376.448 499.989 371.348Z"
                    fill="white" />
                <path
                    d="M490.744 354.626H384.677V356.569V358.512H490.744C495.841 358.512 499.987 362.661 499.987 367.76V371.348C499.987 376.448 495.84 380.596 490.744 380.596H384.677V382.539V384.482H490.744C497.983 384.482 503.872 378.59 503.872 371.348V367.76C503.872 360.518 497.983 354.626 490.744 354.626Z"
                    fill="#2525AD" />
                <path d="M492.809 363.456H385.367V365.223H492.809V363.456Z" fill="#F5F5FF" />
                <path d="M492.809 368.779H385.367V370.546H492.809V368.779Z" fill="#F5F5FF" />
                <path d="M492.809 374.102H385.367V375.869H492.809V374.102Z" fill="#F5F5FF" />
                <path
                    d="M376.334 342.938V339.706C376.334 335.114 380.067 331.379 384.657 331.379H479.544V351.265H384.657C380.069 351.265 376.334 347.53 376.334 342.938Z"
                    fill="white" />
                <path
                    d="M384.657 327.879H480.165V329.629V331.379H384.657C380.067 331.379 376.334 335.114 376.334 339.706V342.938C376.334 347.53 380.067 351.265 384.657 351.265H480.165V353.015V354.764H384.657C378.139 354.764 372.836 349.459 372.836 342.938V339.706C372.836 333.185 378.139 327.879 384.657 327.879Z"
                    fill="#F0C64B" />
                <path d="M382.798 337.422H479.544V335.83H382.798V337.422Z" fill="#F5F5FF" />
                <path d="M382.798 342.214H479.544V340.623H382.798V342.214Z" fill="#F5F5FF" />
                <path d="M382.798 347.008H479.544V345.416H382.798V347.008Z" fill="#F5F5FF" />
                <path
                    d="M185.684 79.8993C190.15 79.8993 193.77 83.4113 193.77 87.7426V88.9362C195.397 93.5145 196.387 99.4734 196.387 106.007C196.387 112.541 195.396 118.499 193.77 123.078V124.272C193.77 128.603 190.15 132.115 185.684 132.115C179.773 132.115 174.981 120.427 174.981 106.007C174.98 91.5876 179.773 79.8993 185.684 79.8993Z"
                    fill="#F0C64B" />
                <path
                    d="M178.617 106.339C178.617 115.159 179.3 122.31 180.142 122.31C180.984 122.31 181.666 115.16 181.666 106.339C181.666 97.5191 180.983 90.3679 180.142 90.3679C179.3 90.3692 178.617 97.5191 178.617 106.339Z"
                    fill="#D8A32B" />
                <path
                    d="M205.093 94.1767V95.2231V117.456V118.503C204.542 124.521 199.008 130.1 191.591 132.115V117.456V95.2231V80.564C199.008 82.5794 204.542 88.1579 205.093 94.1767Z"
                    fill="#50D8D7" />
                <path
                    d="M191.591 134.909C192.799 134.909 193.786 133.951 193.786 132.78V79.8993C193.786 78.7282 192.798 77.7691 191.591 77.7691C190.383 77.7691 189.396 78.7269 189.396 79.8993V132.78C189.395 133.951 190.383 134.909 191.591 134.909Z"
                    fill="#2525AD" />
                <path
                    d="M143.677 79.8993C139.21 79.8993 135.59 83.4113 135.59 87.7426V88.9362C133.964 93.5145 132.974 99.4734 132.974 106.007C132.974 112.541 133.965 118.499 135.59 123.078V124.272C135.59 128.603 139.21 132.115 143.677 132.115C149.588 132.115 154.379 120.427 154.379 106.007C154.379 91.5876 149.588 79.8993 143.677 79.8993Z"
                    fill="#F0C64B" />
                <path
                    d="M150.742 106.339C150.742 115.159 150.059 122.31 149.218 122.31C148.376 122.31 147.693 115.16 147.693 106.339C147.693 97.5191 148.376 90.3679 149.218 90.3679C150.059 90.3692 150.742 97.5191 150.742 106.339Z"
                    fill="#D8A32B" />
                <path
                    d="M124.267 94.1767V95.2231V117.456V118.503C124.818 124.521 130.351 130.1 137.768 132.115V117.456V95.2231V80.564C130.351 82.5794 124.818 88.1579 124.267 94.1767Z"
                    fill="#50D8D7" />
                <path
                    d="M137.769 134.909C136.561 134.909 135.574 133.951 135.574 132.78V79.8993C135.574 78.7282 136.561 77.7691 137.769 77.7691C138.977 77.7691 139.964 78.7269 139.964 79.8993V132.78C139.964 133.951 138.976 134.909 137.769 134.909Z"
                    fill="#2525AD" />
                <path
                    d="M191.798 47.7176C187.412 44.0946 181.659 41.8011 176.203 40.4616C170.601 39.086 164.749 38.7343 159.022 39.399C157.293 39.5998 155.571 39.8705 153.868 40.2296C152.703 40.4753 151.423 40.6674 150.342 41.18C149.213 41.7162 148.106 42.3074 146.989 42.8711C143.965 44.3964 140.939 45.9217 137.915 47.4469C136.711 48.0543 136.853 49.8165 137.915 50.4601C140.711 52.1562 143.913 52.3732 147.08 51.8681C149.306 51.5127 151.339 50.6858 153.452 49.9537C157.248 48.638 161.349 47.9944 165.358 47.9757C168.932 47.9595 172.557 48.4946 175.859 49.9076C180.744 52.0128 186.588 53.4134 191.445 50.4601C192.328 49.9213 192.691 48.4546 191.798 47.7176Z"
                    fill="#F82586" />
                <path
                    d="M165.435 37.4584L165.443 37.4198C165.187 37.4198 164.935 37.4347 164.68 37.4385C164.425 37.4347 164.174 37.4198 163.917 37.4198L163.924 37.4584C138.739 38.2616 118.565 58.927 118.565 84.3192V112.777C118.565 115.937 121.125 118.5 124.285 118.5V90.444L124.162 89.7144C122.235 78.3366 124.699 66.4948 131.638 57.277C134.879 52.9718 139.269 48.9173 145.212 45.9878C145.283 45.9528 145.353 45.9192 145.424 45.8842C157.534 39.9777 171.826 39.9777 183.936 45.8842C184.007 45.9192 184.077 45.9528 184.148 45.9878C190.128 48.9348 194.534 53.0205 197.78 57.3531C204.679 66.5634 207.121 78.3752 205.197 89.7219L205.075 90.4452V118.501C208.234 118.501 210.796 115.94 210.796 112.778V84.3204C210.794 58.927 190.62 38.2616 165.435 37.4584Z"
                    fill="#2525AD" />
                <path d="M511.257 139.457H436.88V247.072H511.257V139.457Z" fill="#D5CBFB" />
                <path d="M503.228 155.241H444.908V157.623H503.228V155.241Z" fill="#7B70EE" />
                <path d="M503.228 166.175H444.908V168.557H503.228V166.175Z" fill="#7B70EE" />
                <path d="M503.228 177.11H444.908V179.492H503.228V177.11Z" fill="#7B70EE" />
                <path d="M503.228 188.044H444.908V190.426H503.228V188.044Z" fill="#7B70EE" />
                <path d="M503.228 198.978H444.908V201.36H503.228V198.978Z" fill="#7B70EE" />
                <path d="M503.228 209.913H444.908V212.295H503.228V209.913Z" fill="#7B70EE" />
                <path d="M503.23 236.474H444.909V237.13H503.23V236.474Z" fill="white" />
                <path
                    d="M452.877 226.14C455.856 226.641 458.881 226.791 461.893 226.529C464.675 226.287 467.63 225.818 470.225 224.748C472.072 223.986 474.085 221.898 472.789 219.788C471.647 217.929 468.781 217.739 466.883 218.19C464.669 218.718 462.7 220.168 461.353 221.979C460.006 223.791 459.068 226.404 460.663 228.365C462.136 230.176 464.834 230.539 467.006 230.237C468.227 230.067 469.416 229.663 470.484 229.045C470.983 228.755 471.445 228.413 471.888 228.046C472.466 227.567 473.073 226.931 473.855 226.822C474.794 226.691 475.009 227.402 475.606 227.913C476.021 228.269 476.555 228.389 477.09 228.335C477.749 228.268 478.349 227.983 478.959 227.747C479.729 227.449 480.489 227.338 481.313 227.357C484.861 227.442 488.437 227.913 491.973 228.201C492.604 228.253 492.602 227.663 491.973 227.612C489.341 227.397 486.707 226.79 484.074 226.576C482.872 226.479 481.637 226.295 480.43 226.393C479.296 226.487 478.385 227.075 477.299 227.308C476.079 227.569 475.91 226.342 474.933 225.965C474.066 225.632 473.111 225.913 472.369 226.409C471.464 227.014 470.727 227.802 469.76 228.325C468.675 228.91 467.451 229.262 466.221 229.336C464.227 229.457 461.257 228.849 460.837 226.488C460.453 224.334 462.24 222.11 463.795 220.839C465.393 219.534 467.55 218.669 469.633 219.051C470.624 219.233 471.918 219.7 472.161 220.812C472.444 222.11 471.297 223.158 470.256 223.668C469.041 224.264 467.636 224.568 466.322 224.862C464.864 225.187 463.386 225.417 461.897 225.546C458.976 225.799 456.033 225.942 453.142 225.454C452.519 225.349 452.252 226.035 452.877 226.14Z"
                    fill="#7B70EE" />
                <path
                    d="M536.119 204.78L523.044 197.682L526.887 190.595C527.718 189.061 529.635 188.492 531.168 189.324L538.691 193.408C540.225 194.24 540.793 196.158 539.962 197.692L536.119 204.78Z"
                    fill="#D5CBFB" />
                <path d="M535.196 206.426L522.121 199.328L484.355 268.963L497.43 276.061L535.196 206.426Z"
                    fill="#2525AD" />
                <path d="M530.986 204.149L526.317 201.614L488.551 271.249L493.221 273.784L530.986 204.149Z"
                    fill="#1C1C84" />
                <path d="M538.447 204.142L522.259 195.354L520.562 198.485L536.749 207.273L538.447 204.142Z"
                    fill="#F0C64B" />
                <path d="M497.441 276.094L484.366 268.996L483.039 280.864L488.219 283.676L497.441 276.094Z"
                    fill="#D5CBFB" />
                <path d="M488.219 283.676L483.039 280.864L482.169 288.649L488.219 283.676Z" fill="#2525AD" />
                <path d="M68.5163 83.8615L81.8954 97.2472" stroke="#7B70EE" stroke-width="2.1457"
                    stroke-miterlimit="10" />
                <path d="M82.1647 83.8615L68.7855 97.2472" stroke="#1C73B2" stroke-width="2.1457"
                    stroke-miterlimit="10" />
                <path d="M518.608 284.637L531.987 298.022" stroke="#7B70EE" stroke-width="2.1457"
                    stroke-miterlimit="10" />
                <path d="M532.255 284.637L518.876 298.022" stroke="#7B70EE" stroke-width="2.1457"
                    stroke-miterlimit="10" />
                <path d="M30.7647 237.727L42.6131 249.58" stroke="#2525AD" stroke-width="1.9001"
                    stroke-miterlimit="10" />
                <path d="M42.8499 237.727L31.0028 249.58" stroke="#2525AD" stroke-width="1.9001"
                    stroke-miterlimit="10" />
                <path
                    d="M24.4871 139.457C24.4871 144.808 20.1516 149.145 14.804 149.145C9.45628 149.145 5.1208 144.808 5.1208 139.457C5.1208 134.107 9.45628 129.769 14.804 129.769C20.1516 129.768 24.4871 134.106 24.4871 139.457Z"
                    stroke="#F82586" stroke-width="2.1457" stroke-miterlimit="10" />
                <path
                    d="M403.424 131.998C408.772 131.998 413.107 127.661 413.107 122.31C413.107 116.96 408.772 112.622 403.424 112.622C398.076 112.622 393.741 116.96 393.741 122.31C393.741 127.661 398.076 131.998 403.424 131.998Z"
                    stroke="#7B70EE" stroke-width="2.1457" stroke-miterlimit="10" />
                <path
                    d="M447.599 108.801C447.599 110.16 446.497 111.263 445.138 111.263C443.78 111.263 442.678 110.16 442.678 108.801C442.678 107.442 443.78 106.339 445.138 106.339C446.497 106.339 447.599 107.442 447.599 108.801Z"
                    stroke="#2525AD" stroke-width="1.9001" stroke-miterlimit="10" />
                <path
                    d="M210.322 26.7167C210.322 28.0761 209.22 29.1786 207.861 29.1786C206.502 29.1786 205.401 28.0761 205.401 26.7167C205.401 25.3572 206.502 24.2548 207.861 24.2548C209.22 24.2548 210.322 25.3572 210.322 26.7167Z"
                    stroke="#2525AD" stroke-width="1.9001" stroke-miterlimit="10" />
                <path
                    d="M53.3122 339.129V344.95C45.4939 345.391 39.2636 351.876 39.2636 359.807V364.76C39.2636 372.887 45.803 379.503 53.8906 379.645C56.8274 395.586 70.7813 407.668 87.5647 407.668C106.482 407.668 121.817 392.325 121.817 373.398V339.129H53.3122ZM44.0765 364.759V359.805C44.0765 354.53 48.149 350.195 53.3122 349.765V373.397C53.3122 373.868 53.3284 374.335 53.3471 374.801C48.1677 374.388 44.0765 370.047 44.0765 364.759Z"
                    fill="#1C1C84" />
                <path
                    d="M104.755 300.116C100.397 297.868 94.6713 298.928 91.1685 302.361C90.5402 297.36 85.7896 293.581 80.8084 292.835C75.826 292.09 70.7713 293.837 66.3997 296.343C62.1128 298.799 58.1101 302.208 56.3139 306.812C54.5176 311.417 55.5236 317.352 59.5935 320.153C61.2464 321.291 63.3531 321.611 65.3314 321.279C65.5919 322.846 66.2114 324.34 67.2298 325.578C70.6242 329.708 77.6323 330.116 81.4828 326.409C84.4047 328.996 88.8898 329.649 92.4275 328.003C93.1966 327.645 93.9084 327.177 94.5553 326.632C94.2948 330.063 92.9922 333.422 90.7983 336.076C95.0477 334.597 98.6814 331.426 100.723 327.414C102.062 324.784 102.692 321.812 102.608 318.864C105.916 318.226 108.952 315.804 110.029 312.564C111.578 307.907 109.114 302.364 104.755 300.116Z"
                    fill="#D5CBFB" />
                <path
                    d="M258.478 94.4025L258.472 94.4012C258.295 94.3862 258.111 94.3775 257.924 94.3775C254.279 94.3775 251.313 97.3445 251.313 100.991C251.313 104.638 254.279 107.605 257.924 107.605C258.111 107.605 258.293 107.597 258.463 107.582C261.87 107.302 264.534 104.407 264.534 100.991C264.534 97.5765 261.874 94.6818 258.478 94.4025Z"
                    fill="#2525AD" />
                <path
                    d="M281.644 100.992C281.644 99.85 281.199 98.7762 280.39 97.9668C279.582 97.1587 278.508 96.7134 277.366 96.7134H274.918L274.666 95.8853C274.338 94.8053 273.902 93.7539 273.372 92.7599L272.964 91.9967L274.697 90.2631C276.365 88.5944 276.365 85.8794 274.697 84.2107C273.889 83.4025 272.815 82.9573 271.672 82.9573C270.529 82.9573 269.455 83.4025 268.648 84.2094L266.915 85.943L266.152 85.5351C265.159 85.0039 264.108 84.5686 263.028 84.2406L262.202 83.9887V81.5393C262.202 79.5126 260.761 77.7479 258.776 77.3451C258.497 77.2889 258.209 77.2603 257.925 77.2603C256.783 77.2603 255.709 77.7055 254.901 78.5136C254.093 79.323 253.648 80.3969 253.648 81.5393V83.9887L252.822 84.2406C251.742 84.5686 250.691 85.0051 249.698 85.5351L248.935 85.943L247.202 84.2094C245.535 82.542 242.821 82.542 241.153 84.2094C240.346 85.0176 239.901 86.0926 239.901 87.2363C239.901 88.3799 240.346 89.4537 241.154 90.2619L242.887 91.9954L242.479 92.7587C241.948 93.7527 241.513 94.804 241.184 95.8841L240.932 96.7122H238.484C236.125 96.7122 234.207 98.6316 234.207 100.991C234.207 102.134 234.652 103.209 235.46 104.017C236.267 104.825 237.342 105.27 238.484 105.27H240.932L241.184 106.097C241.513 107.177 241.948 108.228 242.479 109.222L242.887 109.986L241.154 111.719C239.486 113.388 239.486 116.103 241.154 117.772C241.962 118.579 243.035 119.024 244.179 119.024C245.322 119.024 246.396 118.579 247.203 117.77L248.936 116.037L249.699 116.445C250.692 116.976 251.743 117.411 252.823 117.741L253.649 117.992V120.442C253.649 122.802 255.568 124.721 257.926 124.721C258.203 124.721 258.483 124.693 258.758 124.64L258.888 124.612C259.669 124.433 260.379 124.039 260.95 123.467C261.758 122.658 262.203 121.584 262.203 120.442V117.992L263.029 117.741C264.109 117.413 265.16 116.976 266.153 116.445L266.916 116.037L268.649 117.772C269.454 118.577 270.529 119.021 271.673 119.021C272.817 119.021 273.892 118.577 274.698 117.77C275.505 116.962 275.95 115.887 275.95 114.744C275.95 113.601 275.505 112.526 274.697 111.718L272.964 109.986L273.372 109.222C273.903 108.228 274.338 107.176 274.667 106.097L274.919 105.27H277.367C279.724 105.271 281.644 103.352 281.644 100.992ZM266.773 109.181C264.719 111.402 261.931 112.763 258.925 113.01C258.603 113.037 258.264 113.052 257.924 113.052C251.277 113.052 245.87 107.642 245.87 100.992C245.87 94.3426 251.277 88.9324 257.924 88.9324C258.265 88.9324 258.607 88.9474 258.938 88.9761C261.934 89.2218 264.719 90.5812 266.774 92.8036C268.841 95.0385 269.979 97.9469 269.979 100.994C269.978 104.039 268.84 106.948 266.773 109.181Z"
                    fill="#2525AD" />
                <path
                    d="M441.511 287.316L441.508 287.319C441.457 287.424 441.41 287.534 441.365 287.647C440.51 289.868 441.621 292.373 443.842 293.227C446.062 294.083 448.565 292.97 449.419 290.749C449.463 290.635 449.5 290.523 449.531 290.415C450.159 288.272 449.021 285.97 446.942 285.169C444.864 284.368 442.477 285.311 441.511 287.316Z"
                    fill="#2525AD" />
                <path
                    d="M450.956 274.742C450.26 274.474 449.501 274.493 448.819 274.795C448.137 275.098 447.615 275.648 447.347 276.344L446.772 277.837L446.209 277.796C445.475 277.742 444.732 277.762 444.003 277.852L443.443 277.922L442.794 276.459C442.169 275.051 440.516 274.415 439.109 275.04C438.427 275.343 437.905 275.893 437.637 276.59C437.369 277.286 437.387 278.045 437.69 278.726L438.34 280.189L437.912 280.558C437.356 281.04 436.844 281.577 436.391 282.159L436.043 282.604L434.551 282.029C433.317 281.554 431.905 282.018 431.194 283.133C431.095 283.29 431.01 283.458 430.943 283.631C430.675 284.327 430.695 285.087 430.996 285.769C431.299 286.451 431.849 286.975 432.544 287.242L434.037 287.817L433.995 288.381C433.942 289.115 433.962 289.858 434.052 290.588L434.121 291.149L432.659 291.799C431.253 292.424 430.616 294.078 431.241 295.486C431.543 296.167 432.093 296.69 432.79 296.959C433.486 297.227 434.245 297.208 434.927 296.905L436.389 296.255L436.758 296.683C437.238 297.239 437.776 297.752 438.357 298.204L438.802 298.552L438.227 300.045C437.674 301.483 438.393 303.102 439.83 303.656C440.526 303.924 441.285 303.904 441.967 303.602C442.649 303.299 443.171 302.749 443.439 302.053L444.014 300.56L444.577 300.601C445.312 300.655 446.054 300.635 446.784 300.545L447.343 300.476L447.993 301.938C448.617 303.347 450.27 303.983 451.678 303.358C452.358 303.055 452.882 302.505 453.15 301.808C453.418 301.112 453.399 300.352 453.096 299.67L452.447 298.207L452.874 297.838C453.43 297.356 453.943 296.819 454.395 296.238L454.743 295.792L456.235 296.367C457.672 296.921 459.29 296.202 459.844 294.764C459.909 294.595 459.957 294.418 459.99 294.237L460.003 294.151C460.077 293.634 460.003 293.107 459.789 292.626C459.486 291.944 458.936 291.42 458.241 291.153L456.749 290.578L456.79 290.014C456.842 289.28 456.823 288.536 456.734 287.807L456.664 287.246L458.126 286.596C458.805 286.294 459.328 285.743 459.597 285.046C459.865 284.349 459.846 283.589 459.545 282.908C459.242 282.227 458.692 281.703 457.995 281.435C457.3 281.167 456.54 281.186 455.859 281.489L454.398 282.139L454.029 281.711C453.547 281.155 453.009 280.642 452.429 280.189L451.984 279.841L452.559 278.348C453.111 276.915 452.393 275.295 450.956 274.742ZM452.455 285.727C453.327 287.5 453.5 289.518 452.947 291.409C452.888 291.612 452.817 291.822 452.737 292.029C451.178 296.079 446.615 298.107 442.567 296.547C438.518 294.987 436.491 290.422 438.05 286.371C438.13 286.163 438.22 285.959 438.315 285.764C439.167 283.996 440.648 282.617 442.483 281.887C444.328 281.151 446.366 281.14 448.221 281.854C450.076 282.566 451.579 283.943 452.455 285.727Z"
                    fill="#2525AD" />
            </svg>


        </div>
    </div>
</section>
