@{
    ViewData["Title"] = "Главная";
}

<section>
    <div class="welcome">
        <div class="welcome__colum colum-description">
            <div class="welcome__head">Добро пожаловать на наш сайт!</div>
            <div class="welcome__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing enim eu turpis egestas pretium. Pellentesque id nibh tortor id. Dictum varius duis at consectetur lorem donec massa. Sociis 
            </div>

            <div class="welcome__container-button">
                Узнать больше
            </div>
        </div>
        <div class="welcome__colum">

            <svg width="552" height="483" viewBox="0 0 552 483" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_31_193)">
<path d="M7.12873 247.163C7.12873 247.163 -0.0780225 297.235 29.8756 353.106C55.9689 401.778 103.197 435.708 159.324 450.08C196.371 459.566 234.548 459.12 272.128 456.776C320.474 453.761 374.219 456.585 418.851 438.369C488.331 410.011 530.783 335.765 534.005 266.847C536.087 222.32 518.964 171.184 473.43 147.719C456.571 139.03 437.848 132.574 423.081 120.696C405.389 106.463 397.667 85.8034 384.459 68.5642C368.14 47.2669 344.765 35.133 319.397 25.3202C236.947 -6.57167 158.272 7.74068 94.034 49.8742C29.7951 92.0077 3.28911 222.616 7.12873 247.163Z" fill="#92E3A9"/>
<path opacity="0.7" d="M7.12873 247.163C7.12873 247.163 -0.0780225 297.235 29.8756 353.106C55.9689 401.778 103.197 435.708 159.324 450.08C196.371 459.566 234.548 459.12 272.128 456.776C320.474 453.761 374.219 456.585 418.851 438.369C488.331 410.011 530.783 335.765 534.005 266.847C536.087 222.32 518.964 171.184 473.43 147.719C456.571 139.03 437.848 132.574 423.081 120.696C405.389 106.463 397.667 85.8034 384.459 68.5642C368.14 47.2669 344.765 35.133 319.397 25.3202C236.947 -6.57167 158.272 7.74068 94.034 49.8742C29.7951 92.0077 3.28911 222.616 7.12873 247.163Z" fill="#BBFEFD"/>
<path d="M250.738 107.417H74.5083V309.428H250.738V107.417Z" fill="#BDBDBD"/>
<path d="M242.788 118.104H82.4577V309.429H242.788V118.104Z" fill="#DBDBDB"/>
<path d="M242.788 150.944H82.4577V161.631H242.788V150.944Z" fill="#BDBDBD"/>
<path d="M213.443 10.279H201.903V13.8852H213.443V10.279Z" fill="#BDBDBD"/>
<path d="M213.443 15.328H201.903V18.9342H213.443V15.328Z" fill="#BDBDBD"/>
<path d="M213.443 20.377H201.903V23.9832H213.443V20.377Z" fill="#BDBDBD"/>
<path d="M213.443 25.4248H201.903V29.0311H213.443V25.4248Z" fill="#BDBDBD"/>
<path d="M213.443 30.4738H201.903V34.08H213.443V30.4738Z" fill="#BDBDBD"/>
<path d="M213.443 35.5228H201.903V39.129H213.443V35.5228Z" fill="#BDBDBD"/>
<path d="M213.443 40.5706H201.903V44.1768H213.443V40.5706Z" fill="#BDBDBD"/>
<path d="M213.443 45.6196H201.903V49.2258H213.443V45.6196Z" fill="#BDBDBD"/>
<path d="M213.443 50.6686H201.903V54.2748H213.443V50.6686Z" fill="#BDBDBD"/>
<path d="M213.443 55.7175H201.903V59.3238H213.443V55.7175Z" fill="#BDBDBD"/>
<path d="M213.443 60.7654H201.903V64.3716H213.443V60.7654Z" fill="#BDBDBD"/>
<path d="M213.443 65.8144H201.903V69.4206H213.443V65.8144Z" fill="#BDBDBD"/>
<path d="M213.443 70.8634H201.903V74.4696H213.443V70.8634Z" fill="#BDBDBD"/>
<path d="M213.443 75.9124H201.903V79.5186H213.443V75.9124Z" fill="#BDBDBD"/>
<path d="M213.443 80.9602H201.903V84.5664H213.443V80.9602Z" fill="#BDBDBD"/>
<path d="M213.443 86.0092H201.903V89.6154H213.443V86.0092Z" fill="#BDBDBD"/>
<path d="M213.443 91.0582H201.903V94.6644H213.443V91.0582Z" fill="#BDBDBD"/>
<path d="M213.443 96.1071H201.903V99.7134H213.443V96.1071Z" fill="#BDBDBD"/>
<path d="M213.443 101.155H201.903V104.761H213.443V101.155Z" fill="#BDBDBD"/>
<path d="M213.443 106.204H201.903V109.81H213.443V106.204Z" fill="#BDBDBD"/>
<path d="M364.298 107.417H274.255V309.428H364.298V107.417Z" fill="#BDBDBD"/>
<path d="M357.277 118.104H281.278V309.429H357.277V118.104Z" fill="#DBDBDB"/>
<path d="M357.277 150.944H281.278V161.631H357.277V150.944Z" fill="#BDBDBD"/>
<path d="M327.005 10.279H315.465V13.8852H327.005V10.279Z" fill="#BDBDBD"/>
<path d="M327.005 15.328H315.465V18.9342H327.005V15.328Z" fill="#BDBDBD"/>
<path d="M327.005 20.377H315.465V23.9832H327.005V20.377Z" fill="#BDBDBD"/>
<path d="M327.005 25.4248H315.465V29.0311H327.005V25.4248Z" fill="#BDBDBD"/>
<path d="M327.005 30.4738H315.465V34.08H327.005V30.4738Z" fill="#BDBDBD"/>
<path d="M327.005 35.5228H315.465V39.129H327.005V35.5228Z" fill="#BDBDBD"/>
<path d="M327.005 40.5706H315.465V44.1768H327.005V40.5706Z" fill="#BDBDBD"/>
<path d="M327.005 45.6196H315.465V49.2258H327.005V45.6196Z" fill="#BDBDBD"/>
<path d="M327.005 50.6686H315.465V54.2748H327.005V50.6686Z" fill="#BDBDBD"/>
<path d="M327.005 55.7175H315.465V59.3238H327.005V55.7175Z" fill="#BDBDBD"/>
<path d="M327.005 60.7654H315.465V64.3716H327.005V60.7654Z" fill="#BDBDBD"/>
<path d="M327.005 65.8144H315.465V69.4206H327.005V65.8144Z" fill="#BDBDBD"/>
<path d="M327.005 70.8634H315.465V74.4696H327.005V70.8634Z" fill="#BDBDBD"/>
<path d="M327.005 75.9124H315.465V79.5186H327.005V75.9124Z" fill="#BDBDBD"/>
<path d="M327.005 80.9602H315.465V84.5664H327.005V80.9602Z" fill="#BDBDBD"/>
<path d="M327.005 86.0092H315.465V89.6154H327.005V86.0092Z" fill="#BDBDBD"/>
<path d="M327.005 91.0582H315.465V94.6644H327.005V91.0582Z" fill="#BDBDBD"/>
<path d="M327.005 96.1071H315.465V99.7134H327.005V96.1071Z" fill="#BDBDBD"/>
<path d="M327.005 101.155H315.465V104.761H327.005V101.155Z" fill="#BDBDBD"/>
<path d="M327.005 106.204H315.465V109.81H327.005V106.204Z" fill="#BDBDBD"/>
<path d="M289.789 281.583H36.1834V326.004H289.789V281.583Z" fill="#BDBDBD"/>
<path d="M55.5482 291.252C55.5482 294.22 53.1421 296.626 50.1738 296.626C47.2056 296.626 44.7995 294.22 44.7995 291.252C44.7995 288.284 47.2056 285.877 50.1738 285.877C53.1421 285.876 55.5482 288.282 55.5482 291.252Z" fill="#75E9E8"/>
<path d="M79.7343 285.876H65.6254V296.626H79.7343V285.876Z" fill="#75E9E8"/>
<path d="M97.2023 285.876H83.0934V296.626H97.2023V285.876Z" fill="#808080"/>
<path d="M289.789 179.5H36.1834V281.714H289.789V179.5Z" fill="#DBDBDB"/>
<path d="M289.789 326.07H36.1834V462.998H289.789V326.07Z" fill="#DBDBDB"/>
<path d="M227.11 183.357H98.8611V277.857H227.11V183.357Z" fill="#BDBDBD"/>
<path d="M103.391 262.381C103.089 263.4 102.922 264.474 102.922 265.591C102.922 271.841 107.989 276.908 114.239 276.908C120.489 276.908 125.556 271.841 125.556 265.591C125.556 264.474 125.388 263.4 125.087 262.381H103.391Z" fill="#75E9E8"/>
<path d="M118.631 253.72V238.733H109.847V253.72C105.018 255.508 101.57 260.141 101.57 265.591C101.57 272.587 107.242 278.259 114.238 278.259C121.234 278.259 126.906 272.587 126.906 265.591C126.906 260.141 123.459 255.508 118.631 253.72Z" stroke="white" stroke-miterlimit="10"/>
<path d="M154.626 262.381C154.325 263.4 154.157 264.474 154.157 265.591C154.157 271.841 159.225 276.908 165.475 276.908C171.725 276.908 176.792 271.841 176.792 265.591C176.792 264.474 176.624 263.4 176.323 262.381H154.626Z" fill="#92E3A9"/>
<path d="M169.868 253.72V238.733H161.084V253.72C156.255 255.508 152.807 260.141 152.807 265.591C152.807 272.587 158.479 278.259 165.475 278.259C172.472 278.259 178.144 272.587 178.144 265.591C178.144 260.141 174.696 255.508 169.868 253.72Z" stroke="white" stroke-miterlimit="10"/>
<path d="M130.732 266.498C130.509 267.252 130.385 268.049 130.385 268.875C130.385 273.504 134.139 277.258 138.768 277.258C143.397 277.258 147.151 273.504 147.151 268.875C147.151 268.049 147.027 267.252 146.804 266.498H130.732Z" fill="#75E9E8"/>
<path d="M142.021 260.082V248.98H135.515V260.082C131.938 261.406 129.384 264.838 129.384 268.875C129.384 274.057 133.586 278.259 138.768 278.259C143.95 278.259 148.152 274.057 148.152 268.875C148.152 264.838 145.599 261.406 142.021 260.082Z" stroke="white" stroke-miterlimit="10"/>
<path d="M119.576 197.08H113.863V204.409H119.576V197.08Z" fill="#858585"/>
<path d="M120.917 204.425H112.522C110.108 204.425 108.151 206.381 108.151 208.795V225.913H125.287V208.795C125.288 206.381 123.331 204.425 120.917 204.425Z" fill="#DBDBDB"/>
<path d="M155.686 197.08H149.974V204.409H155.686V197.08Z" fill="#858585"/>
<path d="M157.028 204.425H148.633C146.22 204.425 144.262 206.381 144.262 208.795V225.913H161.398V208.795C161.399 206.381 159.442 204.425 157.028 204.425Z" fill="#DBDBDB"/>
<path d="M186.977 197.08H181.265V204.409H186.977V197.08Z" fill="#858585"/>
<path d="M188.319 204.425H179.923C177.509 204.425 175.552 206.381 175.552 208.795V225.913H192.688V208.795C192.688 206.381 190.732 204.425 188.319 204.425Z" fill="#DBDBDB"/>
<path d="M209.588 197.08H203.876V204.409H209.588V197.08Z" fill="#858585"/>
<path d="M210.93 204.425H202.534C200.121 204.425 198.164 206.381 198.164 208.795V225.913H215.299V208.795C215.299 206.381 213.343 204.425 210.93 204.425Z" fill="#DBDBDB"/>
<path d="M227.11 225.786H98.8611V235.429H227.11V225.786Z" fill="#DBDBDB"/>
<path d="M53.4548 332.409L56.0206 337.141H70.6055L73.1817 332.409H53.4548Z" fill="#808080"/>
<path d="M120.589 332.409L123.155 337.141H137.74L140.316 332.409H120.589Z" fill="#808080"/>
<path d="M187.724 332.409L190.29 337.141H204.875L207.45 332.409H187.724Z" fill="#808080"/>
<path d="M254.858 332.409L257.424 337.141H272.008L274.585 332.409H254.858Z" fill="#808080"/>
<path d="M53.4548 363.49L56.0206 368.222H70.6055L73.1817 363.49H53.4548Z" fill="#808080"/>
<path d="M120.589 363.49L123.155 368.222H137.74L140.316 363.49H120.589Z" fill="#808080"/>
<path d="M187.724 363.49L190.29 368.222H204.875L207.45 363.49H187.724Z" fill="#808080"/>
<path d="M254.858 363.49L257.424 368.222H272.008L274.585 363.49H254.858Z" fill="#808080"/>
<path d="M39.0309 332.412H285.703" stroke="#808080" stroke-miterlimit="10"/>
<path d="M39.0309 363.35H285.703" stroke="#808080" stroke-miterlimit="10"/>
<path d="M474.7 268.949L469.638 249.292V243.919H462.474V249.292L457.414 268.949C457.074 270.268 458.07 271.554 459.432 271.554H472.681C474.044 271.554 475.04 270.268 474.7 268.949Z" fill="#BDBDBD"/>
<path d="M470.557 259.015H461.556L458.9 269.331C458.842 269.558 458.936 269.726 458.998 269.805C459.06 269.884 459.198 270.018 459.432 270.018H472.681C472.916 270.018 473.054 269.884 473.116 269.805C473.178 269.726 473.272 269.558 473.214 269.331L470.557 259.015Z" fill="#808080"/>
<path d="M505.288 268.949L500.227 249.292V243.919H493.063V249.292L488.002 268.949C487.662 270.268 488.658 271.554 490.021 271.554H503.27C504.632 271.554 505.629 270.268 505.288 268.949Z" fill="#BDBDBD"/>
<path d="M501.145 259.015H492.144L489.488 269.331C489.43 269.558 489.525 269.726 489.586 269.805C489.648 269.884 489.786 270.018 490.021 270.018H503.27C503.504 270.018 503.642 269.884 503.704 269.805C503.766 269.726 503.861 269.558 503.802 269.331L501.145 259.015Z" fill="#808080"/>
<path d="M465.554 248.476V189.847" stroke="#BDBDBD" stroke-miterlimit="10"/>
<path d="M536.855 271.465H342.792V385.754H536.855V271.465Z" fill="#DBDBDB"/>
<path d="M531.492 276.004H348.156V385.754H531.492V276.004Z" fill="#BDBDBD"/>
<path d="M446.085 320.24L452.687 329.316H503.848L510.874 320.24H446.085Z" fill="#808080"/>
<path d="M498.938 325.414H459.228V329.316H498.938V325.414Z" fill="#5C5C5C"/>
<path d="M440.177 305.163H407.583V315.033H440.177V305.163Z" fill="#808080"/>
<path d="M459.458 291.799H454.638V303.598H459.458V291.799Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M459.908 297.996H454.188C451.774 297.996 449.817 299.953 449.817 302.367V316.13H464.278V302.367C464.278 299.953 462.321 297.996 459.908 297.996Z" fill="#DBDBDB"/>
<path d="M479.312 291.799H474.492V303.598H479.312V291.799Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M479.763 297.996H474.043C471.63 297.996 469.673 299.953 469.673 302.367V316.13H484.134V302.367C484.134 299.953 482.177 297.996 479.763 297.996Z" fill="#DBDBDB"/>
<path d="M499.168 291.799H494.348V303.598H499.168V291.799Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M499.617 297.996H493.897C491.483 297.996 489.526 299.953 489.526 302.367V316.13H503.987V302.367C503.988 299.953 502.031 297.996 499.617 297.996Z" fill="#DBDBDB"/>
<path d="M440.177 296.671H407.583V305.164H440.177V296.671Z" fill="#A3A3A3"/>
<path d="M531.492 314.375H348.156V321.801H531.492V314.375Z" fill="#DBDBDB"/>
<path d="M415.449 348.62H402.763V387.3H415.449V348.62Z" fill="#263238" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M438.658 329.743H379.555V378.635H438.658V329.743Z" fill="#545454"/>
<path d="M434.543 333.147H383.669V375.233H434.543V333.147Z" fill="white"/>
<path d="M394.581 343.202L410.308 354.54L399.701 360.393" stroke="#828282" stroke-miterlimit="10"/>
<path d="M417.989 343.933L410.308 354.54L413.965 368.438" stroke="#828282" stroke-miterlimit="10"/>
<path d="M410.308 354.54L426.767 364.049" stroke="#828282" stroke-miterlimit="10"/>
<path d="M396.043 342.288C396.043 344.409 394.323 346.128 392.202 346.128C390.081 346.128 388.362 344.409 388.362 342.288C388.362 340.167 390.081 338.447 392.202 338.447C394.324 338.447 396.043 340.167 396.043 342.288Z" fill="#92E3A9"/>
<path d="M403.542 360.393C403.542 362.514 401.822 364.233 399.701 364.233C397.58 364.233 395.86 362.514 395.86 360.393C395.86 358.272 397.58 356.552 399.701 356.552C401.822 356.552 403.542 358.272 403.542 360.393Z" fill="#75E9E8"/>
<path d="M421.83 343.933C421.83 346.054 420.11 347.774 417.989 347.774C415.868 347.774 414.148 346.054 414.148 343.933C414.148 341.812 415.868 340.092 417.989 340.092C420.11 340.093 421.83 341.812 421.83 343.933Z" fill="#75E9E8"/>
<path d="M430.608 364.049C430.608 366.17 428.888 367.89 426.767 367.89C424.646 367.89 422.926 366.17 422.926 364.049C422.926 361.928 424.646 360.209 426.767 360.209C428.888 360.21 430.608 361.928 430.608 364.049Z" fill="#75E9E8"/>
<path d="M413.965 372.279C416.086 372.279 417.806 370.56 417.806 368.438C417.806 366.317 416.086 364.598 413.965 364.598C411.844 364.598 410.124 366.317 410.124 368.438C410.124 370.56 411.844 372.279 413.965 372.279Z" fill="#75E9E8"/>
<path d="M495.287 362.235H479.815V365.639H495.287V362.235Z" fill="#263238" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M458.927 386.991V379.365C458.927 377.132 459.892 375.008 461.576 373.54L470.995 365.329H505.344L514.294 373.554C515.886 375.018 516.793 377.081 516.793 379.245V388.229L458.927 386.991Z" fill="#C4C4C4"/>
<path d="M504.416 375.077C504.416 378.239 497.003 380.802 487.861 380.802C478.717 380.802 471.305 378.239 471.305 375.077C471.305 371.916 478.718 369.352 487.861 369.352C497.003 369.352 504.416 371.916 504.416 375.077Z" fill="#DBDBDB"/>
<path d="M537.618 385.754H342.792V462.999H537.618V385.754Z" fill="#DBDBDB"/>
<path d="M342.73 425.981H536.752" stroke="#808080" stroke-miterlimit="10"/>
<path d="M537.618 385.754H477.029V462.999H537.618V385.754Z" fill="#BDBDBD"/>
<path d="M541.395 385.754H339.017V393.18H541.395V385.754Z" fill="#808080"/>
<path d="M438.04 393.248L441.099 398.89H458.486L461.557 393.248H438.04Z" fill="#808080"/>
<path d="M438.04 425.74L441.099 431.382H458.486L461.557 425.74H438.04Z" fill="#808080"/>
<path d="M372.747 393.248L375.806 398.89H393.193L396.264 393.248H372.747Z" fill="#808080"/>
<path d="M372.747 425.74L375.806 431.382H393.193L396.264 425.74H372.747Z" fill="#808080"/>
<path d="M461.703 209.965H515.561" stroke="#BDBDBD" stroke-miterlimit="10"/>
<path d="M456.932 209.965H461.703" stroke="#BDBDBD" stroke-width="3" stroke-miterlimit="10"/>
<path d="M496.593 210.539V246.751" stroke="#BDBDBD" stroke-miterlimit="10"/>
<path d="M81.5254 318.913H72.0356V329.641H81.5254V318.913Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M85.2385 314.787H67.0843V321.388H85.2385V314.787Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M96.7907 326.339H55.9436V435.264H96.7907V326.339Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M71.8286 369.249C77.6392 369.249 82.3497 364.539 82.3497 358.728C82.3497 352.917 77.6392 348.207 71.8286 348.207C66.018 348.207 61.3076 352.917 61.3076 358.728C61.3076 364.539 66.018 369.249 71.8286 369.249Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M157.61 462.999L138.875 439.481H84.8259L66.2393 462.999H157.61Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M157.116 439.803H83.0877C79.4895 439.803 76.573 436.886 76.573 433.288V432.788H163.63V433.288C163.631 436.887 160.715 439.803 157.116 439.803Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M128.497 289.256L112.095 299.945L114.233 303.225L130.635 292.536L128.497 289.256Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M137.784 278.009L122.476 287.985L128.889 297.827L144.197 287.85L137.784 278.009Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M78.2238 263.212H74.5106V275.177H78.2238V263.212Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M79.8746 274.353H72.4482V297.871H79.8746V274.353Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M84.8259 295.395H67.497V309.011H84.8259V295.395Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M112.825 288.881L93.0868 305.553L49.2726 309.416L50.2658 320.684L103.136 316.022L120.999 302.692L112.825 288.881Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M436.451 158.277L434.483 178.945C434.483 178.945 423.066 178.158 419.72 171.465C416.374 164.772 417.869 156.022 417.869 156.022L419.326 148.041C419.326 148.041 425.231 144.891 431.333 148.632C437.435 152.371 436.451 158.277 436.451 158.277Z" fill="#B5B5B5" stroke="#263238" stroke-miterlimit="10"/>
<path d="M355.278 224.592L397.123 214.395L417.869 156.024C417.869 156.024 422.792 165.166 426.308 169.385C429.825 173.604 436.506 177.473 436.506 177.473C436.506 177.473 429.473 215.801 427.012 228.107C424.551 240.415 424.199 242.524 421.034 245.337C417.869 248.15 379.893 272.062 379.893 272.062C379.893 272.062 392.552 295.621 393.958 312.148C395.364 328.674 396.419 348.014 396.419 348.014C396.419 348.014 365.476 298.785 354.223 284.368C342.971 269.951 338.401 248.15 340.862 236.898C343.323 225.646 355.278 224.592 355.278 224.592Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M370.149 235.805L379.893 272.062L387.027 229.124" stroke="#263238" stroke-miterlimit="10"/>
<path d="M398.279 215.41C398.279 215.41 409.179 219.278 410.938 231.937" stroke="#263238" stroke-miterlimit="10"/>
<path d="M406.015 215.41C406.015 215.41 419.376 218.223 420.08 232.288" stroke="#263238" stroke-miterlimit="10"/>
<path d="M356.435 238.266L374.017 274.836L370.149 281.517L378.94 288.549L381.401 302.262" stroke="#263238" stroke-miterlimit="10"/>
<path d="M293.572 193.048C293.572 193.048 272.826 199.73 266.146 212.74C259.464 225.751 275.64 249.309 278.101 258.1C280.563 266.891 277.046 270.056 273.881 267.594C270.716 265.133 267.2 270.056 270.716 275.682C274.233 281.308 293.572 277.089 299.902 273.924C306.232 270.759 304.825 249.661 301.309 235.947C297.793 222.234 293.574 206.762 295.683 200.081C297.793 193.399 293.572 193.048 293.572 193.048Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M359.146 164.463C359.146 164.463 369.343 176.77 370.046 181.693C370.75 186.615 370.398 189.428 370.398 189.428C370.398 189.428 375.321 195.054 376.376 195.758C377.431 196.461 380.947 198.571 378.837 201.384C376.728 204.197 373.211 204.197 373.211 204.197C373.211 204.197 373.563 215.097 372.508 220.021C371.452 224.944 369.343 226.702 365.474 227.053C361.606 227.405 356.684 227.405 356.684 227.405L352.815 247.096L357.738 272.765L321.168 233.031C321.168 233.031 324.685 218.614 324.685 215.801C324.685 212.988 319.41 207.714 323.981 192.945C328.554 178.176 359.146 164.463 359.146 164.463Z" fill="#B5B5B5" stroke="#263238" stroke-miterlimit="10"/>
<path d="M323.631 202.088C323.631 202.088 329.96 204.197 331.718 199.626C333.476 195.056 330.663 189.429 339.454 184.506C348.244 179.583 363.716 176.067 366.88 167.979C370.045 159.892 366.529 151.453 361.606 150.398C356.684 149.342 350.706 152.155 341.211 152.507C331.717 152.859 303.884 152.714 295.093 166.077C286.302 179.438 294.796 203.493 297.257 208.769C299.718 214.043 299.718 227.757 309.916 228.46C320.113 229.164 327.146 221.428 327.85 215.801C328.554 210.175 323.631 202.088 323.631 202.088Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<g opacity="0.5">
<path d="M321.169 197.867L371.804 180.637C371.804 180.637 380.947 186.263 374.617 193.647L348.596 202.086L321.52 201.383L321.169 197.867Z" fill="white"/>
</g>
<path d="M321.169 197.867L371.804 180.637C371.804 180.637 380.947 186.263 374.617 193.647L348.596 202.086L321.52 201.383L321.169 197.867Z" stroke="#263238" stroke-miterlimit="10"/>
<path d="M321.169 197.867L371.805 180.637" stroke="#263238" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
<path d="M343.323 191.538L348.597 202.088" stroke="#263238" stroke-miterlimit="10"/>
<path d="M330.312 204.549C329.257 204.549 320.115 192.241 315.543 195.758C310.973 199.274 315.191 211.933 320.818 214.395C326.444 216.856 331.016 210.878 331.016 210.878" fill="#B5B5B5"/>
<path d="M330.312 204.549C329.257 204.549 320.115 192.241 315.543 195.758C310.973 199.274 315.191 211.933 320.818 214.395C326.444 216.856 331.016 210.878 331.016 210.878" stroke="#263238" stroke-miterlimit="10"/>
<path d="M364.42 190.484C364.42 192.231 363.79 193.648 363.013 193.648C362.236 193.648 361.606 192.231 361.606 190.484C361.606 188.736 362.236 187.319 363.013 187.319C363.79 187.319 364.42 188.735 364.42 190.484Z" fill="#263238"/>
<path d="M320.115 228.811C320.115 228.811 338.401 243.931 348.597 260.458C358.794 276.984 384.815 306.522 389.035 316.367C393.255 326.213 396.771 336.41 396.771 344.849C396.771 353.288 397.474 417.286 397.474 418.691C397.474 420.097 397.474 462.998 397.474 462.998H289.524C289.524 462.998 296.205 370.518 296.205 350.827C296.205 331.136 287.766 313.202 294.095 285.072C300.424 256.942 310.973 240.767 320.115 228.811Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M313.082 239.009L352.113 292.808L361.959 289.644L361.255 301.599L385.87 314.609" stroke="#263238" stroke-miterlimit="10"/>
<path d="M386.803 416.888H330.022V425.973H382.261" stroke="#263238" stroke-miterlimit="10"/>
<path d="M447.323 198.493H446.944C445.581 198.493 444.476 197.387 444.476 196.023V180.612H449.793V196.023C449.792 197.387 448.686 198.493 447.323 198.493Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M451.062 177.376H443.204V182.693H451.062V177.376Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M474.047 149.025C474.047 149.025 476.803 153.355 476.409 155.914C476.016 158.473 472.276 169.693 471.095 169.89C469.914 170.086 469.717 168.709 470.111 164.772C470.504 160.835 471.095 158.277 471.095 157.095C471.095 155.915 471.882 146.664 474.047 149.025Z" fill="#92E3A9" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M421.097 143.71C421.097 143.71 416.57 151.584 419.917 156.112C423.263 160.639 430.546 161.033 430.546 161.033C430.546 161.033 431.726 169.891 433.499 171.269C435.27 172.648 439.601 178.75 440.192 180.914C440.783 183.079 444.915 180.324 444.915 178.552C444.915 176.781 441.963 169.694 441.176 167.725C440.388 165.757 442.16 160.443 442.751 158.671C443.342 156.9 443.931 156.112 443.931 156.112C443.931 156.112 449.64 161.623 450.23 164.773C450.821 167.923 449.246 179.536 450.821 180.914C452.396 182.293 456.53 181.899 457.317 179.536C458.105 177.174 459.483 163.395 459.483 161.032C459.483 158.67 455.743 150.6 455.743 150.6C455.743 150.6 461.845 156.702 462.042 158.868C462.239 161.032 460.467 174.811 461.451 175.206C462.435 175.599 464.01 176.19 465.388 175.009C466.767 173.828 467.947 170.679 467.947 170.679C467.947 170.679 471.885 161.427 473.459 157.096C475.033 152.766 476.411 147.844 472.868 146.073C469.325 144.301 466.569 142.726 456.53 138.789C446.49 134.853 432.318 131.9 427.2 135.639C422.081 139.38 421.097 143.71 421.097 143.71Z" fill="#75E9E8" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M430.546 161.033L429.758 146.86" stroke="#263238" stroke-miterlimit="10"/>
<path d="M430.349 155.916C430.349 155.916 422.476 155.719 421.688 145.68" stroke="#263238" stroke-miterlimit="10"/>
<path d="M470.111 164.773C470.111 164.773 472.67 157.293 470.504 153.75C468.338 150.207 460.072 144.694 460.072 144.694" stroke="#263238" stroke-miterlimit="10"/>
<path d="M414.831 282.085C415.524 281.623 427.775 268.678 428.006 267.754C428.237 266.83 428.468 254.348 429.855 251.574C431.241 248.8 435.865 240.71 436.096 238.167C436.327 235.624 436.327 227.073 436.096 224.068C435.865 221.063 438.87 220.832 440.949 223.605C443.03 226.379 443.492 230.309 443.492 233.776C443.492 237.243 443.723 240.017 444.186 240.71C444.648 241.403 448.577 244.871 450.427 245.333C452.276 245.795 463.371 240.248 466.607 239.092C469.843 237.936 471.924 228.459 472.386 227.535C472.848 226.611 473.079 219.676 473.31 218.058C473.541 216.439 476.546 214.359 477.702 218.289C478.857 222.218 478.395 231.464 478.164 234.007C477.933 236.55 478.164 241.866 477.009 243.253C475.853 244.639 468.457 251.112 467.762 252.037C467.069 252.961 464.295 261.976 463.371 263.363C462.447 264.749 454.587 267.754 449.271 270.99C443.954 274.226 438.408 279.311 438.408 279.311C438.408 279.311 440.026 281.161 438.408 282.778C436.79 284.397 433.785 285.552 433.785 285.552L428.932 297.109L414.831 282.085Z" fill="#B5B5B5" stroke="#263238" stroke-miterlimit="10"/>
<path d="M463.371 263.363C464.295 261.976 467.069 252.961 467.762 252.037C468.456 251.113 475.852 244.641 477.009 243.253C478.164 241.867 477.933 236.55 478.164 234.007C478.395 231.464 478.857 222.219 477.702 218.289C476.546 214.359 473.541 216.439 473.31 218.058C473.079 219.675 472.848 226.609 472.386 227.535C471.924 228.459 469.843 237.936 466.607 239.092C463.371 240.247 452.276 245.795 450.427 245.333C448.577 244.871 444.648 241.403 444.186 240.71C443.723 240.017 443.492 237.243 443.492 233.776C443.492 230.309 443.03 226.379 440.949 223.605C438.869 220.832 435.865 221.063 436.096 224.068C436.327 227.073 436.327 235.624 436.096 238.167C435.865 240.71 431.242 248.8 429.855 251.574C428.468 254.348 428.236 266.829 428.006 267.754C427.887 268.234 424.539 271.94 421.246 275.464L433.582 286.038L433.785 285.553C433.785 285.553 436.79 284.398 438.408 282.779C440.026 281.161 438.408 279.312 438.408 279.312C438.408 279.312 443.956 274.228 449.271 270.991C454.588 267.754 462.447 264.749 463.371 263.363Z" fill="#75E9E8" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M467.764 252.036L459.904 257.815" stroke="#263238" stroke-miterlimit="10"/>
<path d="M312.028 265.381C312.028 265.381 323.984 263.272 331.016 268.898C338.048 274.524 340.51 285.073 340.862 286.128C341.214 287.183 374.266 317.423 374.266 317.423L415.76 279.095L436.154 299.138C436.154 299.138 410.134 332.192 396.772 344.85C383.41 357.508 373.564 363.487 371.103 364.541C368.642 365.597 366.18 364.541 363.367 362.784C360.554 361.026 302.183 302.303 302.183 302.303" fill="white"/>
<path d="M312.028 265.381C312.028 265.381 323.984 263.272 331.016 268.898C338.048 274.524 340.51 285.073 340.862 286.128C341.214 287.183 374.266 317.423 374.266 317.423L415.76 279.095L436.154 299.138C436.154 299.138 410.134 332.192 396.772 344.85C383.41 357.508 373.564 363.487 371.103 364.541C368.642 365.597 366.18 364.541 363.367 362.784C360.554 361.026 302.183 302.303 302.183 302.303" stroke="#263238" stroke-miterlimit="10"/>
<path d="M311.324 289.995C311.324 289.995 322.225 279.798 327.851 279.447C333.477 279.095 337.345 283.667 337.345 283.667" stroke="#263238" stroke-miterlimit="10"/>
<path d="M305.698 281.556C305.698 281.556 319.06 272.765 326.797 276.984" stroke="#263238" stroke-miterlimit="10"/>
<path d="M374.266 317.422C374.266 317.422 365.124 336.762 366.531 345.904" stroke="#263238" stroke-miterlimit="10"/>
<path d="M372.508 318.477C372.508 318.477 363.013 324.455 359.498 335.707" stroke="#263238" stroke-miterlimit="10"/>
<path d="M460.036 223.225H459.658C458.294 223.225 457.188 222.119 457.188 220.756V205.344H462.505V220.756C462.504 222.12 461.399 223.225 460.036 223.225Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M463.776 202.109H455.917V207.425H463.776V202.109Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M469.975 223.225H469.597C468.234 223.225 467.128 222.119 467.128 220.756V205.344H472.445V220.756C472.443 222.12 471.339 223.225 469.975 223.225Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M473.715 202.109H465.856V207.425H473.715V202.109Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M475.853 213.435H442.106V230.771H475.853V213.435Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M134.531 253.681C134.531 253.681 134.128 267.009 136.955 272.259C139.781 277.509 144.628 279.529 145.033 283.972C145.436 288.415 143.418 294.474 146.244 296.089C149.071 297.704 169.266 317.899 175.728 317.495C182.19 317.092 189.056 307.802 189.056 307.802L203.596 317.092L222.983 277.107L210.058 265.395C210.058 265.395 204.808 233.892 197.538 225.006C190.268 216.121 163.208 213.698 149.476 220.16C135.744 226.622 130.897 241.162 127.666 243.988C124.434 246.815 117.569 249.643 121.204 254.893C124.838 260.144 134.531 253.681 134.531 253.681Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M206.423 273.472C207.964 272.274 209.502 269.191 210.765 266.036L210.057 265.394C210.057 265.394 204.807 233.891 197.537 225.006C190.267 216.121 163.207 213.697 149.475 220.159C135.743 226.621 130.897 241.161 127.665 243.989C124.434 246.816 117.568 249.644 121.203 254.894C124.594 259.791 133.245 254.504 134.397 253.768L134.532 253.682C134.532 253.682 140.994 251.662 145.437 249.239C149.88 246.816 154.726 242.777 154.726 242.777C154.726 242.777 146.245 256.914 149.476 261.356C152.708 265.799 162.401 263.779 162.401 263.779C162.401 263.779 168.863 272.261 172.903 270.241C176.941 268.221 171.287 260.547 177.346 257.721C183.404 254.894 188.251 267.01 188.251 269.029C188.248 271.049 202.788 276.299 206.423 273.472Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M210.833 266.097L182.594 298.916C182.594 298.916 175.727 298.108 170.88 294.473C166.034 290.838 161.995 281.953 161.995 281.953C161.995 281.953 182.594 259.336 193.094 252.873C202.26 247.232 205.27 246.208 205.888 246.039C205.53 244.668 205.154 243.289 204.758 241.918C202.563 242.888 196.125 246.118 185.824 254.488C174.566 263.635 150.752 287.482 144.796 293.483C144.957 294.658 145.368 295.587 146.244 296.088C149.07 297.703 169.265 317.898 175.727 317.495C176.999 317.415 178.283 316.984 179.53 316.355C180.763 311.326 182.889 303.689 184.612 300.531C186.705 296.695 207.445 274.213 213.081 268.134L210.833 266.097Z" fill="#75E9E8" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M174.92 271.452C174.92 271.452 171.285 258.528 176.132 256.104C180.978 253.681 187.037 258.931 187.844 264.586C188.652 270.241 185.824 277.106 185.824 277.106C185.824 277.106 188.651 282.761 187.439 288.819" fill="white"/>
<path d="M174.92 271.452C174.92 271.452 171.285 258.528 176.132 256.104C180.978 253.681 187.037 258.931 187.844 264.586C188.652 270.241 185.824 277.106 185.824 277.106C185.824 277.106 188.651 282.761 187.439 288.819" stroke="#263238" stroke-miterlimit="10"/>
<path d="M154.141 281.457C154.944 283.016 154.939 284.617 154.131 285.034C153.323 285.45 152.017 284.523 151.214 282.964C150.412 281.406 150.417 279.804 151.225 279.388C152.033 278.972 153.339 279.898 154.141 281.457Z" fill="#263238"/>
<path d="M143.702 273.948C143.702 273.948 144.172 268.304 150.993 269.48" stroke="#263238" stroke-miterlimit="10"/>
<path d="M222.22 272.38L191.688 321.066L203.653 329.731L231.709 276.919L222.22 272.38Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M229.646 277.744C229.646 277.744 206.128 318.591 201.589 327.668C197.051 336.746 183.848 359.026 183.022 372.229C182.197 385.432 178.071 463 178.071 463H272.967C272.967 463 279.981 403.999 279.568 381.306C279.155 358.613 273.379 325.193 256.05 302.5C238.723 279.806 229.646 277.744 229.646 277.744Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M237.898 283.932C237.898 283.932 223.87 310.338 214.38 325.605C204.89 340.871 192.512 357.375 189.212 366.865C185.911 376.355 185.911 380.48 185.911 380.48" stroke="#263238" stroke-miterlimit="10"/>
<path d="M116.183 387.907L105.042 379.655C105.042 379.655 99.6785 366.039 96.378 362.326C93.0776 358.613 88.539 359.438 85.6501 356.137C82.7623 352.836 79.4607 345.409 77.8111 344.585C76.1603 343.759 72.4471 345.823 72.4471 349.123C72.4471 352.424 76.1603 357.788 76.1603 359.026C76.1603 360.264 76.1603 360.264 76.1603 360.264C76.1603 360.264 62.1319 356.138 60.4811 357.376C58.8302 358.614 57.1806 362.74 58.4175 364.802C59.6556 366.866 62.1307 367.69 62.1307 369.341C62.1307 370.992 59.2429 376.355 60.8926 378.418C62.5434 380.482 65.0185 381.718 65.0185 381.718C65.0185 381.718 65.0185 389.558 67.4935 392.858C69.9686 396.158 88.9483 398.635 94.7249 399.459C100.502 400.283 117.418 408.536 117.418 408.536L116.183 387.907Z" fill="#75E9E8" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M225.52 316.94C225.52 316.94 207.779 325.605 201.178 348.298C194.576 370.991 190.45 394.509 190.45 394.509C190.45 394.509 186.324 393.683 186.324 396.16C186.324 398.635 185.911 399.873 185.911 399.873L114.12 386.257L112.469 420.089C112.469 420.089 205.715 437.418 210.667 437.418C215.618 437.418 220.982 435.767 222.631 431.642C224.282 427.516 251.101 367.277 251.101 367.277" fill="white"/>
<path d="M225.52 316.94C225.52 316.94 207.779 325.605 201.178 348.298C194.576 370.991 190.45 394.509 190.45 394.509C190.45 394.509 186.324 393.683 186.324 396.16C186.324 398.635 185.911 399.873 185.911 399.873L114.12 386.257L112.469 420.089C112.469 420.089 205.715 437.418 210.667 437.418C215.618 437.418 220.982 435.767 222.631 431.642C224.282 427.516 251.101 367.277 251.101 367.277" stroke="#263238" stroke-miterlimit="10"/>
<path d="M233.772 335.92C233.772 335.92 247.8 343.759 250.276 354.487" stroke="#263238" stroke-miterlimit="10"/>
<path d="M223.87 347.885C225.108 347.885 246.15 349.536 250.688 361.501" stroke="#263238" stroke-miterlimit="10"/>
<path d="M243.262 384.606C243.262 384.606 259.353 377.18 264.304 361.088" stroke="#263238" stroke-miterlimit="10"/>
<path d="M189.625 400.284C189.625 400.284 197.876 415.551 197.464 426.278" stroke="#263238" stroke-miterlimit="10"/>
<path d="M194.576 397.809C194.576 397.809 202.827 399.46 208.604 410.6" stroke="#263238" stroke-miterlimit="10"/>
<path d="M305.515 382.13H290.662C287.927 382.13 285.267 384.346 284.721 387.081L269.372 462.999H294.128L309.476 387.081C310.023 384.346 308.249 382.13 305.515 382.13Z" fill="#263238" stroke="#263238" stroke-miterlimit="10"/>
<path d="M-8.30676 462.999H551.509" stroke="#263238" stroke-miterlimit="10"/>
<path d="M26.1326 460.43H25.421C22.8608 460.43 20.7858 458.355 20.7858 455.794V409.068H30.7689V455.794C30.7689 458.355 28.6927 460.43 26.1326 460.43Z" fill="white" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M20.7858 428.011V455.438C20.7858 458.195 23.0206 460.43 25.7774 460.43C28.5341 460.43 30.7689 458.195 30.7689 455.438V428.011H20.7858Z" fill="#75E9E8" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M32.53 407.6H19.0247V416.996H32.53V407.6Z" fill="white" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M45.1916 460.43C42.4349 460.43 40.2001 458.195 40.2001 455.438V409.068H50.1819V455.438C50.1819 458.195 47.9483 460.43 45.1916 460.43Z" fill="white" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M40.2001 428.011V455.438C40.2001 458.195 42.4349 460.43 45.1916 460.43C47.9483 460.43 50.1831 458.195 50.1831 455.438V428.011H40.2001Z" fill="#75E9E8" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M51.9442 407.6H38.4389V416.996H51.9442V407.6Z" fill="white" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M64.6058 460.43C61.8491 460.43 59.6143 458.195 59.6143 455.438V409.068H69.5961V455.438C69.5961 458.195 67.3613 460.43 64.6058 460.43Z" fill="white" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M59.6143 428.011V455.438C59.6143 458.195 61.8491 460.43 64.6058 460.43C67.3625 460.43 69.5973 458.195 69.5973 455.438V428.011H59.6143Z" fill="#75E9E8" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M71.3585 407.6H57.8531V416.996H71.3585V407.6Z" fill="white" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M84.02 460.43C81.2633 460.43 79.0285 458.195 79.0285 455.438V409.068H89.0104V455.438C89.0104 458.195 86.7756 460.43 84.02 460.43Z" fill="white" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M79.0285 428.011V455.438C79.0285 458.195 81.2633 460.43 84.02 460.43C86.7767 460.43 89.0115 458.195 89.0115 455.438V428.011H79.0285Z" fill="#75E9E8" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M90.7715 407.6H77.2662V416.996H90.7715V407.6Z" fill="white" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M99.213 422.06H12.272V425.014H99.213V455.824H8.05072V462.999H105.122V461.31V455.824V425.014V422.06H99.213Z" fill="white" stroke="#263238" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M425.145 457.148L413.775 412.991V400.92H397.681V412.991L386.312 457.148C385.549 460.111 387.787 462.998 390.847 462.998H420.609C423.67 462.999 425.908 460.111 425.145 457.148Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M415.839 434.834H395.62L389.654 458.007C389.523 458.517 389.735 458.894 389.873 459.072C390.012 459.25 390.323 459.55 390.848 459.55H420.611C421.136 459.55 421.447 459.25 421.586 459.072C421.725 458.894 421.938 458.518 421.805 458.007L415.839 434.834Z" fill="#75E9E8"/>
<path d="M457.892 421.247V395.748H442.947V421.247C434.732 424.289 428.865 432.17 428.865 441.444C428.865 453.348 438.516 462.999 450.42 462.999C462.324 462.999 471.974 453.348 471.974 441.444C471.974 432.17 466.107 424.289 457.892 421.247Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M431.961 435.984C431.449 437.716 431.163 439.546 431.163 441.444C431.163 452.079 439.784 460.7 450.419 460.7C461.053 460.7 469.674 452.079 469.674 441.444C469.674 439.546 469.389 437.716 468.876 435.984H431.961Z" fill="#75E9E8"/>
<path d="M502.197 435.442V388.723H492.334V435.442C486.911 437.449 483.039 442.652 483.039 448.772C483.039 456.629 489.408 462.998 497.265 462.998C505.123 462.998 511.491 456.629 511.491 448.772C511.491 442.652 507.619 437.45 502.197 435.442Z" fill="white" stroke="#263238" stroke-miterlimit="10"/>
<path d="M485.083 445.169C484.745 446.313 484.557 447.52 484.557 448.773C484.557 455.791 490.246 461.481 497.265 461.481C504.285 461.481 509.974 455.792 509.974 448.773C509.974 447.52 509.785 446.313 509.447 445.169H485.083Z" fill="#75E9E8"/>
</g>
<defs>
<clipPath id="clip0_31_193">
<rect width="552" height="483" fill="white"/>
</clipPath>
</defs>
</svg>

        </div>
    </div>
</section>

