<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/course.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/course-main.css" asp-append-version="true" />
</head>

<body>
    <div class="course-panel">
        <div class="course-panel__brand">
            <a class="header__brand-name" asp-controller="Home" asp-action="Index">
                <span class="course-panel__half1">Tech</span><span class="course-panel__half2">nate</span>
            </a>
        </div>

        <div class="course-panel__nav">
            <div class="course-panel__button active">

                <svg class="course-panel__button-svg" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 25 25" fill="none">
                    <path
                        d="M10.1563 22.6562V17.1796C10.1563 16.7968 10.5469 16.4062 10.9375 16.4062H14.0625C14.4531 16.4062 14.8438 16.7968 14.8438 17.1874V22.6562C14.8438 22.8634 14.9261 23.0621 15.0726 23.2086C15.2191 23.3551 15.4178 23.4374 15.625 23.4374H21.875C22.0822 23.4374 22.2809 23.3551 22.4274 23.2086C22.5739 23.0621 22.6563 22.8634 22.6563 22.6562V11.7187C22.6564 11.616 22.6364 11.5143 22.5972 11.4194C22.5581 11.3245 22.5006 11.2382 22.4281 11.1656L20.3125 9.05149V3.90618C20.3125 3.69898 20.2302 3.50027 20.0837 3.35375C19.9372 3.20724 19.7385 3.12493 19.5313 3.12493H17.9688C17.7616 3.12493 17.5628 3.20724 17.4163 3.35375C17.2698 3.50027 17.1875 3.69898 17.1875 3.90618V5.92649L13.0531 1.79056C12.9806 1.7178 12.8943 1.66008 12.7994 1.62069C12.7045 1.58131 12.6028 1.56104 12.5 1.56104C12.3972 1.56104 12.2955 1.58131 12.2006 1.62069C12.1057 1.66008 12.0194 1.7178 11.9469 1.79056L2.57188 11.1656C2.49937 11.2382 2.44191 11.3245 2.40276 11.4194C2.36362 11.5143 2.34357 11.616 2.34375 11.7187V22.6562C2.34375 22.8634 2.42606 23.0621 2.57257 23.2086C2.71909 23.3551 2.9178 23.4374 3.125 23.4374H9.375C9.5822 23.4374 9.78092 23.3551 9.92743 23.2086C10.0739 23.0621 10.1563 22.8634 10.1563 22.6562Z" />
                </svg>

                <div class="course-panel__button-text">главная</div>
            </div>

            <div class="course-panel__button">

                <svg class="course-panel__button-svg" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 25 25" fill="none">
                    <g clip-path="url(#clip0_282_45)">
                        <path
                            d="M13.2812 4.19854C14.3031 3.12198 16.0656 2.81417 18.1438 3.02354C20.0719 3.21729 22.0547 3.84073 23.4375 4.41885V19.9235C22.0031 19.3767 20.1453 18.8423 18.3016 18.6579C16.5922 18.4845 14.7422 18.597 13.2812 19.4267V4.19854ZM12.5 2.78604C10.9609 1.4626 8.72969 1.26573 6.69844 1.46885C4.33281 1.70792 1.94531 2.51885 0.457813 3.19542C0.321327 3.25749 0.205586 3.35753 0.124408 3.48359C0.0432292 3.60965 4.15178e-05 3.75641 0 3.90635L0 21.0939C3.61906e-05 21.2246 0.0328705 21.3532 0.0954955 21.4679C0.15812 21.5827 0.248534 21.6799 0.358454 21.7506C0.468375 21.8213 0.594288 21.8634 0.724661 21.8728C0.855034 21.8823 0.985699 21.8589 1.10469 21.8048C2.48281 21.1798 4.70312 20.4282 6.85469 20.211C9.05625 19.9892 10.9016 20.347 11.8906 21.5814C11.9638 21.6726 12.0566 21.7462 12.1621 21.7968C12.2675 21.8474 12.383 21.8737 12.5 21.8737C12.617 21.8737 12.7325 21.8474 12.8379 21.7968C12.9434 21.7462 13.0362 21.6726 13.1094 21.5814C14.0984 20.347 15.9438 19.9892 18.1438 20.211C20.2969 20.4282 22.5188 21.1798 23.8953 21.8048C24.0143 21.8589 24.145 21.8823 24.2753 21.8728C24.4057 21.8634 24.5316 21.8213 24.6415 21.7506C24.7515 21.6799 24.8419 21.5827 24.9045 21.4679C24.9671 21.3532 25 21.2246 25 21.0939V3.90635C25 3.75641 24.9568 3.60965 24.8756 3.48359C24.7944 3.35753 24.6787 3.25749 24.5422 3.19542C23.0547 2.51885 20.6672 1.70792 18.3016 1.46885C16.2703 1.26417 14.0391 1.4626 12.5 2.78604Z" />
                    </g>
                    <defs>
                        <clipPath id="clip0_282_45">
                            <rect width="25" height="25" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

                <div class="course-panel__button-text">материалы</div>
            </div>
            <div class="course-panel__button" data-pages="main">

                <svg class="course-panel__button-svg" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 25 25" fill="none">
                    <g clip-path="url(#clip0_282_17)">
                        <path
                            d="M12.8297 3.19846C12.7264 3.15039 12.6139 3.12549 12.5 3.12549C12.3861 3.12549 12.2736 3.15039 12.1703 3.19846L0.451549 8.66721C0.313553 8.73162 0.19739 8.83496 0.117347 8.96452C0.0373048 9.09407 -0.00312758 9.2442 0.00102269 9.39643C0.00517296 9.54866 0.053725 9.69636 0.140708 9.82137C0.22769 9.94637 0.349311 10.0432 0.490611 10.1L12.2094 14.7875C12.3959 14.8623 12.6041 14.8623 12.7906 14.7875L21.875 11.1563V20.3125C21.4606 20.3125 21.0632 20.4771 20.7701 20.7702C20.4771 21.0632 20.3125 21.4606 20.3125 21.875V25H25V21.875C25 21.4606 24.8354 21.0632 24.5423 20.7702C24.2493 20.4771 23.8519 20.3125 23.4375 20.3125V10.5297L24.5094 10.1C24.6507 10.0432 24.7723 9.94637 24.8593 9.82137C24.9462 9.69636 24.9948 9.54866 24.999 9.39643C25.0031 9.2442 24.9627 9.09407 24.8826 8.96452C24.8026 8.83496 24.6864 8.73162 24.5484 8.66721L12.8297 3.19846Z"
                            fill="#50D8D7" />
                        <path
                            d="M6.525 14.1124C6.4244 14.0745 6.31706 14.0578 6.2097 14.0633C6.10234 14.0688 5.99726 14.0964 5.90105 14.1443C5.80484 14.1923 5.71956 14.2596 5.65055 14.342C5.58155 14.4244 5.53029 14.5202 5.5 14.6233L4.71875 17.2796C4.66402 17.4661 4.68077 17.6663 4.76571 17.841C4.85065 18.0158 4.99769 18.1527 5.17812 18.2249L12.2094 21.0374C12.3959 21.1122 12.6041 21.1122 12.7906 21.0374L19.8219 18.2249C20.0023 18.1527 20.1493 18.0158 20.2343 17.841C20.3192 17.6663 20.336 17.4661 20.2812 17.2796L19.5 14.6233C19.4697 14.5202 19.4184 14.4244 19.3494 14.342C19.2804 14.2596 19.1952 14.1923 19.0989 14.1443C19.0027 14.0964 18.8977 14.0688 18.7903 14.0633C18.6829 14.0578 18.5756 14.0745 18.475 14.1124L12.5 16.353L6.525 14.1124Z" />
                    </g>
                    <defs>
                        <clipPath id="clip0_282_17">
                            <rect width="25" height="25" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

                <div class="course-panel__button-text">задания</div>
            </div>

            <div class="course-panel__button">

                <svg class="course-panel__button-svg" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 25 25" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.375 12.5V1.5625H10.9375V11.1203L13.6609 9.48438C13.7823 9.41167 13.9211 9.37327 14.0625 9.37327C14.2039 9.37327 14.3427 9.41167 14.4641 9.48438L17.1875 11.1203V1.5625H18.75V12.5C18.75 12.6382 18.7134 12.774 18.6438 12.8934C18.5742 13.0129 18.4742 13.1117 18.3539 13.1799C18.2337 13.248 18.0975 13.283 17.9593 13.2814C17.8211 13.2797 17.6858 13.2414 17.5672 13.1703L14.0625 11.0672L10.5578 13.1719C10.4391 13.243 10.3037 13.2813 10.1653 13.2829C10.027 13.2845 9.89069 13.2494 9.77038 13.181C9.65008 13.1127 9.55008 13.0136 9.48061 12.894C9.41114 12.7743 9.3747 12.6384 9.375 12.5Z"
                        fill="#50D8D7" />
                    <path
                        d="M4.6875 0H20.3125C21.1413 0 21.9362 0.32924 22.5222 0.915291C23.1083 1.50134 23.4375 2.2962 23.4375 3.125V21.875C23.4375 22.7038 23.1083 23.4987 22.5222 24.0847C21.9362 24.6708 21.1413 25 20.3125 25H4.6875C3.8587 25 3.06384 24.6708 2.47779 24.0847C1.89174 23.4987 1.5625 22.7038 1.5625 21.875V20.3125H3.125V21.875C3.125 22.2894 3.28962 22.6868 3.58265 22.9799C3.87567 23.2729 4.2731 23.4375 4.6875 23.4375H20.3125C20.7269 23.4375 21.1243 23.2729 21.4174 22.9799C21.7104 22.6868 21.875 22.2894 21.875 21.875V3.125C21.875 2.7106 21.7104 2.31317 21.4174 2.02015C21.1243 1.72712 20.7269 1.5625 20.3125 1.5625H4.6875C4.2731 1.5625 3.87567 1.72712 3.58265 2.02015C3.28962 2.31317 3.125 2.7106 3.125 3.125V4.6875H1.5625V3.125C1.5625 2.2962 1.89174 1.50134 2.47779 0.915291C3.06384 0.32924 3.8587 0 4.6875 0Z"
                        fill="#50D8D7" />
                    <path
                        d="M1.5625 7.8125V7.03125C1.5625 6.82405 1.64481 6.62534 1.79132 6.47882C1.93784 6.33231 2.13655 6.25 2.34375 6.25C2.55095 6.25 2.74966 6.33231 2.89618 6.47882C3.04269 6.62534 3.125 6.82405 3.125 7.03125V7.8125H3.90625C4.11345 7.8125 4.31216 7.89481 4.45868 8.04132C4.60519 8.18784 4.6875 8.38655 4.6875 8.59375C4.6875 8.80095 4.60519 8.99966 4.45868 9.14618C4.31216 9.29269 4.11345 9.375 3.90625 9.375H0.78125C0.57405 9.375 0.375336 9.29269 0.228823 9.14618C0.08231 8.99966 0 8.80095 0 8.59375C0 8.38655 0.08231 8.18784 0.228823 8.04132C0.375336 7.89481 0.57405 7.8125 0.78125 7.8125H1.5625ZM1.5625 12.5V11.7188C1.5625 11.5115 1.64481 11.3128 1.79132 11.1663C1.93784 11.0198 2.13655 10.9375 2.34375 10.9375C2.55095 10.9375 2.74966 11.0198 2.89618 11.1663C3.04269 11.3128 3.125 11.5115 3.125 11.7188V12.5H3.90625C4.11345 12.5 4.31216 12.5823 4.45868 12.7288C4.60519 12.8753 4.6875 13.074 4.6875 13.2812C4.6875 13.4885 4.60519 13.6872 4.45868 13.8337C4.31216 13.9802 4.11345 14.0625 3.90625 14.0625H0.78125C0.57405 14.0625 0.375336 13.9802 0.228823 13.8337C0.08231 13.6872 0 13.4885 0 13.2812C0 13.074 0.08231 12.8753 0.228823 12.7288C0.375336 12.5823 0.57405 12.5 0.78125 12.5H1.5625ZM1.5625 17.1875V16.4062C1.5625 16.199 1.64481 16.0003 1.79132 15.8538C1.93784 15.7073 2.13655 15.625 2.34375 15.625C2.55095 15.625 2.74966 15.7073 2.89618 15.8538C3.04269 16.0003 3.125 16.199 3.125 16.4062V17.1875H3.90625C4.11345 17.1875 4.31216 17.2698 4.45868 17.4163C4.60519 17.5628 4.6875 17.7615 4.6875 17.9688C4.6875 18.176 4.60519 18.3747 4.45868 18.5212C4.31216 18.6677 4.11345 18.75 3.90625 18.75H0.78125C0.57405 18.75 0.375336 18.6677 0.228823 18.5212C0.08231 18.3747 0 18.176 0 17.9688C0 17.7615 0.08231 17.5628 0.228823 17.4163C0.375336 17.2698 0.57405 17.1875 0.78125 17.1875H1.5625Z"
                        fill="#50D8D7" />
                </svg>

                <div class="course-panel__button-text">тесты</div>
            </div>

            <div class="course-panel__button">

                <svg class="course-panel__button-svg" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 25 25" fill="none">
                    <g clip-path="url(#clip0_317_216)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0 0H1.5625V23.4375H25V25H0V0ZM23.1516 4.86406C23.231 4.92908 23.2969 5.00911 23.3454 5.0996C23.3939 5.19008 23.4241 5.28923 23.4342 5.39139C23.4444 5.49355 23.4343 5.59671 23.4046 5.69497C23.3748 5.79324 23.326 5.88468 23.2609 5.96406L16.2297 14.5578C16.1606 14.6422 16.0746 14.7111 15.9772 14.7602C15.8799 14.8093 15.7733 14.8375 15.6644 14.843C15.5555 14.8484 15.4466 14.831 15.3448 14.7918C15.2431 14.7527 15.1506 14.6927 15.0734 14.6156L11.0312 10.5734L5.31875 18.4281C5.19379 18.587 5.01209 18.6913 4.81185 18.719C4.61161 18.7468 4.40841 18.6958 4.24496 18.5769C4.0815 18.4579 3.97052 18.2802 3.93533 18.0812C3.90014 17.8821 3.94348 17.6772 4.05625 17.5094L10.3063 8.91562C10.3726 8.82424 10.458 8.74832 10.5565 8.69311C10.655 8.63789 10.7643 8.60468 10.8768 8.59577C10.9894 8.58686 11.1026 8.60246 11.2085 8.64149C11.3145 8.68052 11.4107 8.74207 11.4906 8.82187L15.5672 12.9L22.0516 4.97344C22.1166 4.89398 22.1966 4.82812 22.2871 4.77962C22.3776 4.73112 22.4767 4.70092 22.5789 4.69077C22.6811 4.68061 22.7842 4.69068 22.8825 4.72042C22.9807 4.75016 23.0722 4.79897 23.1516 4.86406Z"
                            fill="#50D8D7" />
                    </g>
                    <defs>
                        <clipPath id="clip0_317_216">
                            <rect width="25" height="25" fill="white" />
                        </clipPath>
                    </defs>
                </svg>

                <div class="course-panel__button-text">успеваемость</div>
            </div>

            <div class="course-panel__button">

                <svg class="course-panel__button-svg" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 25 25" fill="none">
                    <path
                        d="M10.9375 21.875C10.9375 21.875 9.375 21.875 9.375 20.3125C9.375 18.75 10.9375 14.0625 17.1875 14.0625C23.4375 14.0625 25 18.75 25 20.3125C25 21.875 23.4375 21.875 23.4375 21.875H10.9375ZM17.1875 12.5C18.4307 12.5 19.623 12.0061 20.5021 11.1271C21.3811 10.248 21.875 9.0557 21.875 7.8125C21.875 6.5693 21.3811 5.37701 20.5021 4.49794C19.623 3.61886 18.4307 3.125 17.1875 3.125C15.9443 3.125 14.752 3.61886 13.8729 4.49794C12.9939 5.37701 12.5 6.5693 12.5 7.8125C12.5 9.0557 12.9939 10.248 13.8729 11.1271C14.752 12.0061 15.9443 12.5 17.1875 12.5Z"
                        fill="#50D8D7" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.15 21.8749C7.91837 21.3871 7.80285 20.8523 7.8125 20.3124C7.8125 18.1952 8.875 16.0156 10.8375 14.4999C9.85795 14.1981 8.83742 14.0505 7.8125 14.0624C1.5625 14.0624 0 18.7499 0 20.3124C0 21.8749 1.5625 21.8749 1.5625 21.8749H8.15Z"
                        fill="#50D8D7" />
                    <path
                        d="M7.03125 12.5C8.06725 12.5 9.06082 12.0884 9.79339 11.3559C10.5259 10.6233 10.9375 9.62975 10.9375 8.59375C10.9375 7.55775 10.5259 6.56418 9.79339 5.83161C9.06082 5.09905 8.06725 4.6875 7.03125 4.6875C5.99525 4.6875 5.00168 5.09905 4.26911 5.83161C3.53655 6.56418 3.125 7.55775 3.125 8.59375C3.125 9.62975 3.53655 10.6233 4.26911 11.3559C5.00168 12.0884 5.99525 12.5 7.03125 12.5Z"
                        fill="#50D8D7" />
                </svg>

                <div class="course-panel__button-text">пользователи</div>
            </div>
        </div>


    </div>


    <main class="main-auth" role="main">
        <div id="content">
            <div class="Course-header">
                <div class="Course-header__title">Компьютерные сети</div>
                <div class="Course-header__user">
                    <div class="Course-header__user-username">@await Component.InvokeAsync("User")</div>
                    <div class="Course-header__user-svg"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                            viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_325_108)">
                                <path
                                    d="M27.5 15C27.5 16.9891 26.7098 18.8968 25.3033 20.3033C23.8968 21.7098 21.9891 22.5 20 22.5C18.0109 22.5 16.1032 21.7098 14.6967 20.3033C13.2902 18.8968 12.5 16.9891 12.5 15C12.5 13.0109 13.2902 11.1032 14.6967 9.6967C16.1032 8.29018 18.0109 7.5 20 7.5C21.9891 7.5 23.8968 8.29018 25.3033 9.6967C26.7098 11.1032 27.5 13.0109 27.5 15Z"
                                    fill="#50D8D7" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M0 20C0 14.6957 2.10714 9.60859 5.85786 5.85786C9.60859 2.10714 14.6957 0 20 0C25.3043 0 30.3914 2.10714 34.1421 5.85786C37.8929 9.60859 40 14.6957 40 20C40 25.3043 37.8929 30.3914 34.1421 34.1421C30.3914 37.8929 25.3043 40 20 40C14.6957 40 9.60859 37.8929 5.85786 34.1421C2.10714 30.3914 0 25.3043 0 20ZM20 2.5C16.7044 2.50018 13.4759 3.43091 10.686 5.18507C7.8961 6.93923 5.65821 9.44553 4.22991 12.4155C2.80161 15.3854 2.24097 18.6983 2.6125 21.9729C2.98403 25.2474 4.27263 28.3505 6.33 30.925C8.105 28.065 12.0125 25 20 25C27.9875 25 31.8925 28.0625 33.67 30.925C35.7274 28.3505 37.016 25.2474 37.3875 21.9729C37.759 18.6983 37.1984 15.3854 35.7701 12.4155C34.3418 9.44553 32.1039 6.93923 29.314 5.18507C26.5241 3.43091 23.2956 2.50018 20 2.5Z"
                                    fill="#50D8D7" />
                            </g>
                            <defs>
                                <clipPath id="clip0_325_108">
                                    <rect width="40" height="40" fill="white" />
                                </clipPath>
                            </defs>
                        </svg></div>
                </div>
            </div>
        </div>
        @* @RenderBody() *@
    </main>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/course.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
