@{
    Layout = null;
}
@using Technate.Models;
@using Technate.Components;
@model CourseView;

<div class="main">

    <div class="main__description-container">
        <div class="main__description-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="79" height="71" viewBox="0 0 79 71" fill="none">
                <g clip-path="url(#clip0_218_208)">
                    <path
                        d="M70.9886 58.3897H7.35523C3.2996 58.3897 0 55.0901 0 51.0344V7.35522C0 3.30011 3.2996 0 7.35523 0H57.8613C58.5818 0 59.1658 0.584005 59.1658 1.30449C59.1658 2.02497 58.5818 2.60898 57.8613 2.60898H7.35523C4.73851 2.60898 2.60899 4.73851 2.60899 7.35522V51.0344C2.60899 53.6511 4.73851 55.7807 7.35523 55.7807H70.9891C73.6059 55.7807 75.7354 53.6511 75.7354 51.0344V7.35522C75.7354 4.73851 73.6059 2.60898 70.9891 2.60898H65.852C65.1315 2.60898 64.5475 2.02497 64.5475 1.30449C64.5475 0.584005 65.1315 0 65.852 0H70.9891C75.0448 0 78.3444 3.2996 78.3444 7.35522V51.0344C78.3439 55.0901 75.0443 58.3897 70.9886 58.3897Z"
                        fill="#231F20" />
                    <path
                        d="M51.9398 70.5906H26.4041C24.9028 70.5906 23.6818 69.3695 23.6818 67.8683V67.101C23.6818 65.5997 24.9028 64.3787 26.4041 64.3787H51.9398C53.441 64.3787 54.6631 65.5997 54.6631 67.101V67.8683C54.6636 69.369 53.4415 70.5906 51.9398 70.5906ZM26.4041 66.9866C26.3412 66.9866 26.2902 67.0376 26.2902 67.1004V67.8678C26.2902 67.9306 26.3412 67.9816 26.4041 67.9816H51.9398C52.0026 67.9816 52.0547 67.9306 52.0547 67.8678V67.1004C52.0547 67.0376 52.0026 66.9866 51.9398 66.9866H26.4041Z"
                        fill="#231F20" />
                    <path
                        d="M47.9501 66.2852H30.3948C29.6743 66.2852 29.0903 65.7011 29.0903 64.9807V57.1784C29.0903 56.4579 29.6743 55.8739 30.3948 55.8739H47.9501C48.6706 55.8739 49.2546 56.4579 49.2546 57.1784V64.9807C49.2546 65.7011 48.6706 66.2852 47.9501 66.2852ZM31.6993 63.6761H46.6456V58.4829H31.6993V63.6761Z"
                        fill="#231F20" />
                    <path
                        d="M71.6839 46.5606H6.6605C5.94002 46.5606 5.356 45.9766 5.356 45.2561V6.94524C5.356 6.22475 5.94002 5.64075 6.6605 5.64075H71.6839C72.4044 5.64075 72.9884 6.22475 72.9884 6.94524V45.2561C72.9884 45.9766 72.4038 46.5606 71.6839 46.5606ZM7.96499 43.9521H70.3794V8.25024H7.96499V43.9521Z"
                        fill="#231F20" />
                    <path
                        d="M70.9886 58.3897H7.35523C3.2996 58.3897 0 55.0901 0 51.0344V49.8984C0 49.1779 0.584008 48.5939 1.30449 48.5939H77.0399C77.7604 48.5939 78.3444 49.1779 78.3444 49.8984V51.0344C78.3439 55.0901 75.0443 58.3897 70.9886 58.3897ZM2.61156 51.2034C2.70066 53.7428 4.79413 55.7812 7.35471 55.7812H70.9886C73.5497 55.7812 75.6427 53.7428 75.7318 51.2034H2.61156Z"
                        fill="#231F20" />
                </g>
                <defs>
                    <clipPath id="clip0_218_208">
                        <rect width="78.3444" height="70.5905" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="main__description-text">
            <div class="main__description-title">Описание</div>
            <div class="main__description-info">@Model.CourseSubject</div>
        </div>
    </div>

    <div class="main__blocks-informations">
        <div class="main__block-info">
            <div class="main__block-info-svg"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                    viewBox="0 0 60 60" fill="none">
                    <path
                        d="M26.25 52.5C26.25 52.5 22.5 52.5 22.5 48.75C22.5 45 26.25 33.75 41.25 33.75C56.25 33.75 60 45 60 48.75C60 52.5 56.25 52.5 56.25 52.5H26.25ZM41.25 30C44.2337 30 47.0952 28.8147 49.205 26.705C51.3147 24.5952 52.5 21.7337 52.5 18.75C52.5 15.7663 51.3147 12.9048 49.205 10.795C47.0952 8.68526 44.2337 7.5 41.25 7.5C38.2663 7.5 35.4048 8.68526 33.295 10.795C31.1853 12.9048 30 15.7663 30 18.75C30 21.7337 31.1853 24.5952 33.295 26.705C35.4048 28.8147 38.2663 30 41.25 30Z"
                        fill="#263238" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M19.56 52.5C19.0041 51.3293 18.7268 50.0458 18.75 48.75C18.75 43.6688 21.3 38.4375 26.01 34.8C23.6591 34.0757 21.2098 33.7214 18.75 33.75C3.75 33.75 0 45 0 48.75C0 52.5 3.75 52.5 3.75 52.5H19.56Z"
                        fill="#263238" />
                    <path
                        d="M16.875 30C19.3614 30 21.746 29.0123 23.5041 27.2541C25.2623 25.496 26.25 23.1114 26.25 20.625C26.25 18.1386 25.2623 15.754 23.5041 13.9959C21.746 12.2377 19.3614 11.25 16.875 11.25C14.3886 11.25 12.004 12.2377 10.2459 13.9959C8.48772 15.754 7.5 18.1386 7.5 20.625C7.5 23.1114 8.48772 25.496 10.2459 27.2541C12.004 29.0123 14.3886 30 16.875 30Z"
                        fill="#263238" />
                </svg></div>
            <div class="main__block-info-description">
                <div class="main__block-info-counter">@Model.StudentsCount</div>
                <div class="main__block-info-text">участников</div>
            </div>
        </div>
    </div>
</div>